<navbar style="box-shadow: 1px 1px 3px #666;display:block;" ng-if="config.design.navbar && !viewer"  url="{{config.design.navbar}}"></navbar>
<ion-view class="maps-view" ng-style="config.design.navbar ? {height: 'calc(100% - 42px)', top:'42px'} : {}">
    <div id="mapHeader" ng-class="{'mobile':isMobile}">
        <div id="headerControllers">
            <div id="omnibox">
                <wall-toggler ng-if="!editMode"></wall-toggler>
                <geocoding-bar locate="locate(location)"></geocoding-bar>
            </div>
            <div id="searchcards" style="margin-left: 40px;">
                <div class="search-tag-card fast-ease-out-animation fade-in" ng-if="(queryCard)">
                    <i class="icon ion-android-person"></i>
                    <span class="tag-card-body">{{queryCard}}</span>
                    <button ng-if="!viewer" class="button button-clear button-stable button-icon ion-android-close" ng-click="deleteQueryCard()"></button>
                </div>
                <div class="search-tag-card fast-ease-out-animation fade-in" ng-if="(userCard)">
                    <i class="icon ion-android-person"></i>
                    <span class="tag-card-body">{{userCard}}</span>
                    <button ng-if="!viewer" class="button button-clear button-stable button-icon ion-android-close" ng-click="deleteUserCard()"></button>
                </div>
                <div class="search-tag-card fast-ease-out-animation fade-in" ng-if="(groupCard)">
                    <i class="icon ion-android-people"></i>
                    <span class="tag-card-body">{{groupCard}}</span>
                    <button ng-if="!viewer" class="button button-clear button-stable button-icon ion-android-close" ng-click="deleteGroupCard()"></button>
                </div>
                <div class="search-tag-card fast-ease-out-animation fade-in" ng-if="(initiativeCard)">
                    <i class="icon ion-cube"></i>
                    <span class="tag-card-body">{{initiativeCard}}</span>
                    <button ng-if="!viewer" class="button button-clear button-stable button-icon ion-android-close" ng-click="deleteInitiativeCard()"></button>
                </div>
            </div>
        </div>
    </div>
    <ion-content class="has-bottom" data-tap-disabled="true">
        <flmap map="flmap"></flmap>
    </ion-content >
    <!-- barra filtri -->
    <user-handler ng-if="!viewer && !editMode"></user-handler>
    <div id="bottom-bar">
        <!-- action buttons -->
        <div id="map-action-menu">
            <div class="flex-container flex-container-style fixed-height" ng-if="!viewer">
                <div class="flex-item">
                    <button class="button button-float button-float-small" ng-click="getUserLocation()">
                        <i class="icon ion-android-locate"></i>
                    </button>
                </div>
            </div>
            <div class="flex-container flex-container-style fixed-height" ng-if="!viewer">
                <div class="flex-item"  ng-if="config.actions.edit_mode" >
                    <button class="button button-float" ng-click="switchEditMode()">
                        <i class="icon ease-animation" ng-class="{'ion-plus-round': !editMode, 'ion-close-round': editMode}"></i>
                    </button>
                </div>
            </div>
        </div>
        <timeline id="timelines" class="fade-in ease-animation"  ng-show="!editMode"></timeline>
    </div>
    <style id="pie-styles" type="text/css">{{flmap.css}}</style>
</ion-view>