<ion-view class="maps-view">
    <div id="mapHeader" ng-controller="SearchCtrl">
        <!--<button ng-if="config.actions.show_menu" id="sideMenuToggler" class="button button-clear button-dark icon ion-navicon" ng-click="toggleSideLeft()"></button>-->
        <div id="omnibox">
            <div id="floating-search-bar">

                <button ng-if="config.actions.show_menu" class="button button-clear button-dark button-icon ion-navicon-round" ng-click="toggleSideLeft()">
                </button>
                <span class="separatore"></span>
                <form name="ricerca" class="item-input-wrapper">
                    <input type="search" placeholder="{{'SEARCH_IN'|translate}} {{config.app_name}}" ng-model="form.query" ng-focus="focus=true;" />
                    <!--<button class="button button-dark button-clear icon-button ion-android-search"></button>-->
                </form>
                <span class="separatore"></span>
                <button class="button button-dark button-clear button-icon" ng-class="form.query != ''? 'ion-close-round' : 'ion-android-locate'" ng-click="form.query != ''? clearSearch() : locate('user')"></button>
                <span ng-if="!isMobile" class="separatore"></span>
                <button ng-if="!isMobile && config.actions.favourite_place" class="button button-dark button-clear button-icon ion-android-compass" ng-click="showModalFavPlace()"></button>
            </div>
            <div id="cronologia-box" ng-show="focus">
                <button class="button button-clear button-dark" id="results-box" ng-repeat="b in bufferSearch.toArray() |filter:{query: '!null'} track by $index" ng-click="cacheRestore($index)">
                    <i class="icon ion-android-time"></i>
                    <span>{{b.query}}</span>
                </button>
            </div>
            <div id="results-box" ng-show="focus">
                <button class="button button-clear button-dark" id="results-box" ng-repeat="r in form.results track by $index" ng-click="entryClick(r.id)">
                    <i class="icon {{r.icon}}" style="color:{{r.color}};"></i>
                    <span>{{r.name}}</span>
                </button>
            </div>
            <div id="results-box" ng-show="focus">
                <button class="button button-clear button-dark" id="results-box" ng-repeat="l in form.locations | orderBy:'distance' track by $index" ng-click="locate(l.position)">
                    <i class="icon {{l.icon}}"></i>
                    <span>{{l.name}}</span>
                </button>
            </div>
        </div>
    </div>


    <ion-content scroll="false" class="has-bottom" data-tap-disabled="true">
        <div ng-controller="ModalEntityCtrl"></div>
        <div ng-controller="SimpleEditorCtrl as simpleEditor"></div>
        <leaflet id="mymap" defaults="map.defaults" bounds="bounds" center="map.center" width="100%" height="100%" controls="map.controls" markers="markersFiltered" geojson="geojson" layers="map.layers"  event-broadcast="events" ng-if="map"></leaflet>

    </ion-content >

    <!--on-hold="showASEdit()" -->
    <div id="pointer" class="padding"  on-tap="showASEdit()" ng-show="editMode">
        <div class='pin'></div>
        <div class='pulse'></div>
    </div>


    <!-- barra filtri -->

    <div id="bottom-bar">
        <!-- action buttons -->
        <div id="map-action-menu">
            <div class="flex-container flex-container-style fixed-height">
                <div class="flex-item" ng-if="isMobile && config.actions.favourite_place">
                    <span contenteditable=""></span>
                    <button class="button button-float" ng-click="showModalFavPlace()">
                        <i class="icon ion-android-compass"></i>
                    </button>
                </div>
                <div class="flex-item" ng-if="config.actions.wall_tab">
                    <span contenteditable=""></span>
                    <button class="button button-float" ng-click="showWall()">
                        <i class="icon ion-android-list"></i>
                    </button>
                </div>
                <div class="flex-item" ng-if="config.actions.category_filter">
                    <span contenteditable=""></span>
                    <button class="button button-float" ng-click="showMFilterCat()">
                        <i class="icon ion-android-checkmark-circle"></i>
                    </button>
                </div>
                <div class="flex-item"  ng-if="config.actions.edit_mode && isLoggedIn" >
                    <span contenteditable=""></span>
                    <button class="button button-float" ng-click="switchEditMode()">
                        <i class="icon" ng-class="{'ion-plus-round': !editMode, 'ion-close-round': editMode}"></i>
                    </button>
                </div>
            </div>
        </div>
        <div ng-controller="TimelineCtrl" id="timelines" ng-if="config.actions.time_filter">
            <div id="time-box" ng-show="timelineVisible" class="fade-in linear-animation">
                <button ng-if="!isMobile" class="button button-icon ion-arrow-left-b" ng-click="timeline.move(-0.5)"></button>
                <button class="button button-icon ion-android-contract" ng-click="timeline.zoom(-1)"></button>
                <button class="button button-icon ion-refresh" ng-click="timeline.setVisibleChartRangeNow()"></button>
                <button class="button button-icon ion-android-expand" ng-click="timeline.zoom(1)"></button>
                <button ng-if="!isMobile" class="button button-icon ion-arrow-right-b" ng-click="timeline.move(0.5)"></button>
            </div>
            <div id="time-bar" ng-click="toggleTimeline()">
                <i class="icon ion-android-time"></i>
                <span ng-if="time.from.getDate() != time.to.getDate()">
                    <span ng-if="!isMobile">{{'FROM_AT'|translate}}</span> {{timeline.start | date:'HH:mm' }} 
                    <span ng-if="!isMobile">{{'OF_TIME'|translate}} {{timeline.start | date:'dd/MM/yyyy' }}</span> 
                    <span>{{' '}}</span>
                    <span ng-if="!isMobile">{{'TO_AT'|translate}}</span> {{timeline.end | date:'HH:mm' }}
                    <span ng-if="!isMobile">{{'OF_TIME'|translate}} {{timeline.end | date:'dd/MM/yyyy' }}</span>
                </span>
                <span ng-if="time.from.getDate() == time.to.getDate()">
                    {{timeline.start | date:'dd/MM/yyyy' }}, 
                    <span ng-if="!isMobile">{{'FROM_AT'|translate}} {{timeline.start | date:'HH:mm' }}</span>
                    <span>{{' '}}</span>
                    <span ng-if="!isMobile">{{'TO_AT'|translate}} {{timeline.end | date:'HH:mm' }}</span>
                </span>
                <i class="icon" ng-class="timelineVisible ? 'ion-arrow-down-b':'ion-arrow-up-b'"></i>
            </div>
            <div ng-show="timelineVisible" class="vertical-show ease-in-animation">
                <div id="timeline"
                     timeline="timelineData"
                     timeline-options="options"
                     timeline-full-range-update="true"
                     timeline-ctrl="timeline"
                     timeline-selection="selected"
                     timeline-groups="timelineGroups"></div>
            </div>
        </div>
    </div>
    <style id="pie-styles" type="text/css">{{map.css}}</style>
</ion-view>