<ion-view class="maps-view">
    <div id="mapHeader" ng-if="!viewer">
        <navbar style="box-shadow: 1px 1px 3px #666;display:block;" ng-if="config.map.navbar"  url="{{config.map.navbar}}" ></navbar>
        <div id="headerControllers">
            <div id="omnibox">
                <button ng-if="config.actions.show_menu" class="button button-clear button-dark button-icon ion-navicon-round" ng-click="toggleSideLeft()"></button>
                <span class="separatore"></span>
                <button class="button button-dark button-clear burron-icon ion-android-search" ng-click="showSearchBox()"></button>
                <span class="separatore"></span>
                <button class="button button-dark button-clear button-icon ion-android-checkmark-circle" ng-click="showMFilterCat()"></button>
                <span class="separatore"></span>
                <button class="button button-dark button-clear button-icon ion-android-locate" ng-click="locate('user')"></button>
                <span class="separatore"></span>
                <!--<button class="button button-dark button-clear button-icon ion-android-compass" ng-click="showModalFavPlace()"></button>-->
                <user-handler check="isLoggedIn"></user-handler>
            </div>
            <entity-filter toggle="toggleFilter" filter="filters['entity_type']"></entity-filter>
            <search-cards></search-cards>
        </div>
    </div>

<!--markers="markersFiltered"-->

    <ion-content class="has-bottom" data-tap-disabled="true">
        <div ng-controller="ModalEntityCtrl"></div>
        <div ng-controller="SimpleEditorCtrl as simpleEditor"></div>
        <leaflet id="mymap" ng-if="map" width="100%" height="100%"
                 bounds="bounds" 
                 center="map.center"
                 defaults="map.defaults"
                 controls="map.controls" 
                 markers="markersFiltered"
                 geojson="geojson" 
                 layers="map.layers"  
                 event-broadcast="events"></leaflet>

    </ion-content >

    <!--on-hold="showASEdit()" -->
    <div id="pointer" class="padding"  on-tap="showASEdit()" ng-show="editMode">
        <div class='pin'></div>
        <div class='pulse'></div>
    </div>


    <!-- barra filtri -->

    <div id="bottom-bar" ng-if="!viewer">
        <!-- action buttons -->
        <div id="map-action-menu">
            <div class="flex-container flex-container-style fixed-height">
                <div class="flex-item">
                    <button class="button button-float button-float-small" ng-click="showWall()">
                        <i class="icon ease-animation" ng-class="{'ion-android-list': !openWall, 'ion-close-round': openWall}"></i>
                    </button>
                </div>
            </div>
            <div class="flex-container flex-container-style fixed-height">
                <div class="flex-item"  ng-if="config.actions.edit_mode" >
                    <button class="button button-float" ng-click="switchEditMode()">
                        <i class="icon ease-animation" ng-class="{'ion-plus-round': !editMode, 'ion-close-round': editMode}"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="timelines" ng-if="config.actions.time_filter">
            <timeline></timeline>
        </div>
    </div>
    <style id="pie-styles" type="text/css">{{map.css}}</style>
</ion-view>