<ion-side-menus enable-menu-with-back-views="true" >
    <ion-side-menu-content class="post-size-14px" drag-content="false">
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu
            side="left"
            width = "{{sideWidth}}"
            id="side-menu"
            drag-content="false">
        <ion-content drag-content="false">
            <side-wall filter="toggleFilter(cat,key)"></side-wall>
        </ion-content>
        <div class="bar bar-footer wall-actions">
            <button ng-if="config.actions.map_tab" class="button button-outline button-positive item-button ion-link" menu-close on-tap="makeEmbed()">
                {{'EMBED_MAP'|translate}}
            </button>
        </div>
    </ion-side-menu>
    <ion-side-menu side="right">
        <ion-content drag-content="false">
            <ion-list>
                <ion-item class="logo">
                    <button style="float:right;" ng-if="config.actions.show_menu" class="sideMenuToggler button button-clear button-dark button-small" ng-click="toggleSideRight()">
                        <i class="icon ion-ios-arrow-left"></i><i class="icon ion-ios-arrow-left"></i>
                    </button>
                    <img ng-if=" (config.design.logo_bar != '') " alt="config.app_name" ng-src="{{config.design.logo_bar}}"/>
                    <span ng-if=" !(config.design.logo_bar != '') ">{{config.app_name}}</span>
                </ion-item>
                <ion-item class="heading-item item item-avatar">
                    <img ng-src="{{config.design.logo_menu}}">
                    <h2 class="greeting">{{'WELCOME'|translate}} {{displayName}}</h2>
                    <p class="message">{{'WELCOME_MESSAGE' |translate}} {{config.app_name}}!</p>
                </ion-item>
                <ion-item class="item-divider">{{'CURRENT_SIGNATURE'|translate}}</ion-item>
                <ion-item>{{ (user.signature && user.signature !== '') ? user.signature : user.fullname}}</ion-item>
                <ion-item class="item-divider">{{'PROFILE'|translate}}</ion-item>
                <notification-link check="checkNotifications"></notification-link>
                <ion-item ng-show="isLoggedIn" class="item-icon-left item-button" nav-clear menu-close on-tap="myMap()">
                    <i class="icon ion-map"></i>
                    <h3 class="menu-text">{{'MY_MAP'|translate}}</h3>
                </ion-item>
                <ion-item ng-if="config.authentication.profile_url" ng-show="isLoggedIn" class="item-icon-left item-button" nav-clear menu-close ng-click="profile()">
                    <i class="icon ion-android-person"></i>
                    <h3 class="menu-text">{{'EDIT_PROFILE'|translate}}</h3>
                </ion-item>
                <ion-item ng-if="config.authentication.signature_url" ng-show="isLoggedIn" class="item-icon-left item-button" nav-clear menu-close ng-click="signature()">
                    <i class="icon ion-edit"></i>
                    <h3 class="menu-text">{{'EDIT_SIGNATURE'|translate}}</h3>
                </ion-item>
                <ion-item ng-show="!isLoggedIn" ng-if="config.actions.logout_tab" class="item-icon-left item-button" nav-clear menu-close ng-click="login()">
                    <i class="icon ion-log-in"></i>
                    <h3 class="menu-text">{{'LOGIN'|translate}}</h3>
                </ion-item>
                <ion-item ng-show="isLoggedIn" ng-if="config.actions.logout_tab" class="item-icon-left item-button" nav-clear menu-close ng-click="showConfirmLogout()">
                    <i class="icon ion-log-out"></i>
                    <h3 class="menu-text">{{'LOGOUT'|translate}}</h3>
                </ion-item>
                <ion-item ng-if="config.actions.switch_language" class="item-divider">{{'LANG'|translate}}</ion-item>
                <ion-item ng-if="config.actions.switch_language" class="item-icon-left item-button" ng-click="langSelector('it')" nav-clear menu-close>
                    <i class="icon" ng-class="(currentLang == 'it') ? 'ion-ios-flag' : 'ion-ios-flag-outline'"></i>
                    <h3 class="menu-text">Italiano</h3>
                </ion-item>
                <ion-item ng-if="config.actions.switch_language" class="item-icon-left item-button" ng-click="langSelector('en')" nav-clear menu-close>
                    <i class="icon" ng-class="(currentLang == 'en') ? 'ion-ios-flag' : 'ion-ios-flag-outline'"></i>
                    <h3 class="menu-text">English</h3>
                </ion-item>
                <ion-item class="item-divider">{{'MENU'|translate}}</ion-item>
                <ion-item ng-repeat="entry in config.design.side_menu |filter:{lang:currentLang} as menu track by $index" class="item-icon-left item-button" nav-clear menu-close ng-href="{{entry.url}}" target="_blank">
                    <i class="icon" ng-class="entry.icon ? entry.icon : 'ion-android-bookmark'"></i>
                    <h3 class="menu-text">{{entry.name}}</h3>
                </ion-item>
                <ion-item ng-if="config.actions.helpdesk_tab" class="item-icon-left item-button" nav-clear menu-close ng-href="{{config.actions.helpdesk_tab}}">
                    <i class="icon ion-help"></i>
                    <h3 class="menu-text">{{'HELP_MESSAGE'|translate}}</h3>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>