<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content class="post-size-14px">        

        <ion-nav-view name="menuContent"></ion-nav-view>  

    </ion-side-menu-content>

    <ion-side-menu side="left" id="side-menu">
        <ion-content>
            <ion-list>
                <ion-item class="logo">
                    <img ng-if=" (config.design.logo_bar != '') " alt="config.app_name" ng-src="{{config.design.logo_bar}}"/>
                    <span ng-if=" !(config.design.logo_bar != '') ">{{config.app_name}}</span>
                    <button style="float:right;" ng-if="config.actions.show_menu" id="sideMenuToggler" class="button button-clear button-dark button-small" ng-click="toggleSideLeft()"><i class="icon ion-ios-arrow-left"></i><i class="icon ion-ios-arrow-left"></i></button>
                </ion-item>
                <ion-item class="heading-item item item-avatar">
                    <img ng-src="{{config.design.logo_menu}}">
                    <h2 class="greeting">Ciao {{displayName}}</h2>
                    <p class="message">Benvenuto in {{config.app_name}}!</p>
                </ion-item>
                <ion-item class="item-divider">Profilo</ion-item>
                <ion-item ng-if="config.actions.profile_tab" ng-show="isLoggedIn" class="item-icon-left item-button" nav-clear menu-close ng-href="#/app/user/">
                    <i class="icon ion-android-person"></i>
                    <h3 class="menu-text">Modifica profilo</h3>
                </ion-item>
                <ion-item ng-show="!isLoggedIn" ng-if="config.actions.logout_tab" class="item-icon-left item-button" nav-clear menu-close ng-click="login()">
                    <i class="icon ion-log-out"></i>
                    <h3 class="menu-text">Login</h3>
                </ion-item>
                <ion-item ng-show="isLoggedIn" ng-if="config.actions.logout_tab" class="item-icon-left item-button" nav-clear menu-close ng-click="showConfirmLogout()">
                    <i class="icon ion-log-out"></i>
                    <h3 class="menu-text">Logout</h3>
                </ion-item>
                <ion-item class="item-divider">Esplora</ion-item>
                <ion-item ng-if="config.actions.map_tab" class="item-icon-left item-button" nav-clear menu-close ng-href="#/app/maps/">
                    <i class="icon ion-map"></i>
                    <h3 class="menu-text">Mappa</h3>
                </ion-item>
                <ion-item class="item-divider">Supporto</ion-item>
                <ion-item ng-if="config.actions.helpdesk_tab" class="item-icon-left item-button" nav-clear menu-close ng-href="{{config.actions.helpdesk_tab}}">
                    <i class="icon ion-bug"></i>
                    <h3 class="menu-text">Segnalazioni</h3>
                </ion-item>
                
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>