.leaflet-bottom .leaflet-control{
    position: relative;
    bottom: 100px;
}
.leaflet-bottom{
    .leaflet-control-attribution {
        position: relative;
        top:0px;
        right: 0px;
        height: 16px;
    }
}
.leaflet-control-zoom{
    border-radius:0px !important;
    box-shadow: none;
    margin-right: 8px;
    margin-top:8px;
    .leaflet-bar a:first-child {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }
    .leaflet-bar a:last-child {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}
.maps-view{
    search-cards{
        display: block;
        width: 260px;
        button {
            color: white;
            text-align: left;
            background: $dark;
            display: block;
            min-width: 100%;
            overflow: hidden;
            height: 47px;
            span {
                display: inline;
                padding-right: 10px;
                font-size: 1em;
            }
        }
    }
    #mapHeader{
        position: relative;
        display: block;
        max-width: 322px;
        top: 8px;
        left: 8px;
        z-index: 12;

        #sideMenuToggler, #floating-logo, #floating-search-bar, #omnibox{
            display: inline-block;
            vertical-align: top;
        }
        #sideMenuToggler{
            background-color: white;
            vertical-align: top;
            margin-right: 8px;
        }
        #sideMenuToggler:before{
            font-size: 30px;
        }
        #sideMenuToggler,#floating-search-bar, #results-box, #cronologia-box{
            background-color: white;
            border-radius: 0px;
            box-shadow: 1px 1px 3px #666;
        }

        #headerControllers{
            position: relative;
            width :100%;
            #omnibox{
                display: flex;
                width: 100%;
                position: relative;
                z-index: 1;
                #menu-switch{
                    background: #fff;
                }
                button {
                    min-height: 48px;
                    height: 48px;
                    min-width: 48px;    
                    width: 48px;    
                    position: relative;
                    box-shadow: 1px 1px 3px #666;
                    overflow: hidden;
                    border: none;
                    .badge{
                        position:absolute;
                        top:initial;
                        bottom:-2px;
                        right: -2px;
                        border-radius: 12px 0px 0px 0px;
                        //top:30px;
                        //right: 0px;
                        //width: 0;
                        //height: 0;
                        //min-width: 0px;
                        //min-height: 0px;
                        //padding: 0px;
                        //margin: 0px;
                        //border-top: 0px solid #fff;
                        //border-bottom: 18px solid $positive;
                        //border-left: 18px solid #fff;
                        //border-right: 0px solid #fff;
                        //-webkit-transform:rotate(360deg);
                        //border-radius: 0px;
                    }
                }
                button:hover,button:active,button:focus {
                    color: $positive;
                }
                button:focus{
                    box-shadow: inset 0px 0px 10px $positive;
                }
                button:before{
                    font-size: 1.2em;
                }
                #typeFilter{
                    position: relative;
                    z-index: 0;
                    margin-left: 6px;
                    button{
                        margin:4px 6px 0px 0px;
                        background: #f1f1f1;
                        border-radius: 50px;
                        min-height: 40px;
                        height: 40px;
                        min-width: 40px;
                        width: 40px;
                        padding: 0px 10px;
                    }
                    button:last-child{
                        margin-right:0px;
                    }
                    .button.activated, .button.active {
                        border:0px;
                    }
                    button.active:hover, button.active:active{
                        //box-shadow:0px 1px 1px #666, inset 0px 0px 10px #fafafa;
                    }
                    button.inactive:hover, button.inactive:active{
                        //box-shadow:0px 1px 1px #666, inset 0px 0px 10px #afafaf;
                    }
                    button.active:focus, button.active:hover, button.active:active{
                        box-shadow:0px 1px 1px #666, inset 0px 0px 10px #fafafa;
                    }
                    button.inactive:focus{
                        box-shadow:0px 1px 1px #666, inset 0px 0px 10px #afafaf;
                    }
                    button.inactive{
                    }
                    button.active{
                    }
                    button.disabled{
                        opacity: 1;
                    }
                    button.disabled:hover, button.disabled:focus, button.disabled:active{
                        box-shadow:0px 1px 1px #666;
                        top:0px;
                    }
                }
//                * {
//                    display: inline-block;
//                    margin: 0px;
//                    padding: 0px;
//                    max-height: 48px;
//                    vertical-align: middle;
//                }
                #floating-logo{
                    img{
                        max-height: 35px;
                    }
                }

            }
        }
    }


    background-color: #EBEBEB !important;

    .center-map-action
    {
        position:absolute;
        top:35px;
        z-index:20;

        .item.item-input-inset
        {
            padding: 0px 5px;
        }

        .item-input-wrapper
        {
            background:none;
        }
    }

    map
    {
        width: 100%;
        height: 100% !important;
    }

    .scroll, .mapWrap
    {
        height: 100%;
    }

    .css-pin-marker{

        .pin-marker {
            -webkit-transition: 2s ease transform;
            -moz-transition: 2s ease transform;
            -o-transition: 2s ease transform;
            transition: 2s ease transform;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            background: #00cae9;
            position: relative;
            //transform: rotate(-45deg);
            left: 50%;
            top: 50%;
            margin: -10px 0 0 -10px;
            box-shadow: 0px 1px 1px #999;
        }

        .icon-box {
            position: absolute;
            top : -2px;
            i {
                margin: 0 auto;
                color:white;
                font-size:16px;
            }
            i:before {
                width: 20px;
                text-align: center;
            }
        }
    } 
    .css-pin-marker:active, .css-pin-marker:hover, .css-pin-marker:focus {
        z-index: 9999 !important;
        .pin-marker{
            -webkit-animation: glow 1s infinite ease alternate;
            -moz-animation: glow 1s infinite ease alternate;
            animation: glow 1s infinite ease alternate;
            box-shadow:0px 0px 0px 2px #fafafa, 0px 1px 4px 1px #666;
        }
    }
    .marker-cluster {
        div.outer {
            margin: -5px 0px 0px 0px;
            width: 40px;
            height: 40px;
            background-clip: padding-box;
            border-radius: 20px;
        }
        div.inner {
            width: 24px;
            height: 24px;
            margin-left: 8px;
            margin-top: 5px;
            text-align: center;
            border-radius: 15px;
            font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
            background-color: white;
            position: relative;
            top: 8px;
        }
        div.inner span {
            line-height: 25px;
        }

    }
    .pie-cluster:active, .pie-cluster:hover, .pie-cluster:focus{
        z-index: 9999 !important;
        .inner{
            -webkit-animation: glowPie 1s infinite ease alternate;
            -moz-animation: glowPie 1s infinite ease alternate;
            animation: glowPie 1s infinite ease alternate;
            box-shadow: inset 0px 0px 3px #999;
        }
        box-shadow: 0px 0px 0px 3px #fafafa, 0px 1px 4px 1px #666;
    }

    #pointer {
        z-index: 11;
        margin: -43px 0 0 -20px;
        position: absolute;
        top: 50%; left: 50%;
        width: 40px;
        height: 40px;
        padding:0px;
        .floating-button{
            position: absolute;
            font-size: 17px;
            border: 2px solid $dark;
            background: #fff;
            color: $positive;
            width: 30px;
            height: 30px;
            border-radius:15px;
            overflow: hidden;
        }
        .zoomin{
            top:-34px;
            right: -10px;
        }
        .zoomout{
            top:-11px;
            right: -31px;
        }
        .pin{
            width: 40px;
            height: 40px;
            -webkit-border-radius: 50% 50% 50% 0;
            border-radius: 50% 50% 50% 0;
            background: #fafafa;
            border:2px solid $dark;
            position: absolute;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            left: 50%;
            top: 100%;
            margin: -46px 0 0 -20px;
            -webkit-animation-name: bounce;
            -moz-animation-name: bounce;
            -o-animation-name: bounce;
            -ms-animation-name: bounce;
            animation-name: bounce;
            -webkit-animation-fill-mode: both;
            -moz-animation-fill-mode: both;
            -o-animation-fill-mode: both;
            -ms-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-duration: 0.4s;
            -moz-animation-duration: 0.4s;
            -o-animation-duration: 0.4s;
            -ms-animation-duration: 0.4s;
            animation-duration: 0.4s;
            .icon{
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                position: absolute;
                margin: 2px 0 0 1px;
                width: 36px;
                height: 36px;
                font-size: 36px;
                color:$positive;
            }
            .icon:hover,.icon:active,.icon:focus{
                color:$valid;
            }
        }
        //.pin:after {
        //    content: '';
        //    width: 14px;
        //    height: 14px;
        //    margin: 6px 0 0 6px;
        //    background: $valid;
        //    position: absolute;
        //    -webkit-border-radius: 50%;
        //    border-radius: 50%;
        //}
        .pulse{
            background: rgba(0,0,0,0.2);
            -webkit-border-radius: 50%;
            border-radius: 50%;
            height: 14px;
            width: 14px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -4px 0px 0px -7px;
            -webkit-transform: rotateX(55deg);
            -moz-transform: rotateX(55deg);
            -o-transform: rotateX(55deg);
            -ms-transform: rotateX(55deg);
            transform: rotateX(55deg);
            z-index: -2;
        }
        .pulse:after {
            content: "";
            -webkit-border-radius: 50%;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            position: absolute;
            margin: -13px 0 0 -13px;
            -webkit-animation: pulsate 1s ease-out;
            -moz-animation: pulsate 1s ease-out;
            -o-animation: pulsate 1s ease-out;
            -ms-animation: pulsate 1s ease-out;
            animation: pulsate 1s ease-out;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            -webkit-box-shadow: 0 0 1px 2px #89849b;
            box-shadow: 0 0 1px 2px #89849b;
            -webkit-animation-delay: 1.1s;
            -moz-animation-delay: 1.1s;
            -o-animation-delay: 1.1s;
            -ms-animation-delay: 1.1s;
            animation-delay: 1.1s;
        }

    }

    #map-action-menu{
        position: absolute; 
        bottom: 80px; 
        right:8px;
        display:inline-block;
        z-index: 2000;
        #bottom-bar-toggler{

            #time-box{

                item.button{
                    border: 1px solid #b2b2b2;
                    background: #fff;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
                    min-width: 46px;
                }
            }
        }
    }

    #bottom-bar{}
}

#infobar {
    max-width: 322px;
    width: 100%;
    position: absolute;
    z-index: 999;
    top:64px;
    left: 8px;
    padding: 6px 10px;
    border-radius: 6px;
    background: #fafafa;
    box-shadow: 0 1px 5px rgba(0,0,0,.65);
}

#notifications {
    button{
        color: $lighterDark;
    }
    button:hover, button:focus{
        color: $dark;
    }
    .clear {
        button{
            position: absolute;
            right: 16px;
            top: 0px;
        }
    }
    .notification{
        line-height: 32px;
        padding: 8px 16px;
        .username {
            font-weight: 700;
        }
        .action {
            font-style: italic;
            //color: $mediumDark;
        }
        .link {
            text-decoration: underline;
        }
        button{
            position: absolute;
            right: 8px;
            top:0px;
            width: 52px;
            height: 52px;
        }
    }
    .notification.highlight{
        font-weight: 700;
    }
}


@-webkit-keyframes glow {
    from { -webkit-transform: rotate(-45deg) scale(1); }
    to { -webkit-transform: rotate(-45deg) scale(1.2); }
}
@-moz-keyframes glow {
    from { -moz-transform: rotate(-45deg) scale(1); }
    to { -moz-transform: rotate(-45deg) scale(1.2); }
}
@keyframes glow {
    from { transform: rotate(-45deg) scale(1); }
    to { transform: rotate(-45deg) scale(1.2); }
}
@-webkit-keyframes glowPie {
    from { -webkit-transform: scale(1); }
    to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes glowPie {
    from { -moz-transform: scale(1); }
    to { -moz-transform: scale(1.2); }
}
@keyframes glowPie {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}