.leaflet-bottom .leaflet-control{
    position: relative;
    bottom: 100px;
}
.leaflet-control-zoom{
    border-radius:0px !important;
    box-shadow: none;
    margin-right: 8px;
    margin-top:8px;
    .leaflet-bar a:first-child {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }
    .leaflet-bar a:last-child {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}
.maps-view{
    #mapHeader{
        position: fixed;
        //top: 20px;
        //left: 20px;
        display: inline-block;
        z-index: 12;
        #sideMenuToggler, #floating-logo, #floating-search-bar, #omnibox{
            display: inline-block;
            vertical-align: top;
        }
        #sideMenuToggler{
            background-color: white;
            vertical-align: top;
            margin-right: 8px;
        }
        #sideMenuToggler:before{
            font-size: 30px;
        }
        #sideMenuToggler,#floating-search-bar, #results-box, #cronologia-box{
            background-color: white;
            border-radius: 0px;
            box-shadow: 1px 1px 3px #666;
        }

        #omnibox{
            //min-width: 350px;
            box-shadow: 1px 1px 3px #666;
            top:8px;
            left: 8px;
            position: absolute;
            background: #fff;
            display: inline-flex;
            #barlogo{
                height: 40px;
                padding: 0px 0px 4px;
                margin-left: 4px;
            }
            .separatore{
                height: 48px;
                border-left: 1px solid #ccc;
            }
            button {
                min-height: 48px;
                height: 48px;
                width: 46px;
            }
            button:before{
                font-size: 1.2em;
            }

            * {
                display: inline-block;
                margin: 0px;
                padding: 0px;
                max-height: 48px;
                vertical-align: middle;
            }
            #floating-logo{
                img{
                    max-height: 35px;
                }
            }

        }
    }


    background-color: #EBEBEB !important;

    .center-map-action
    {
        position:absolute;
        top:35px;
        z-index:20;

        .item.item-input-inset
        {
            padding: 0px 5px;
        }

        .item-input-wrapper
        {
            background:none;
        }
    }

    map
    {
        width: 100%;
        height: 100% !important;
    }

    .scroll, .mapWrap
    {
        height: 100%;
    }

    .css-pin-marker{

        .pin-marker {
            -webkit-transition: 2s ease transform;
            -moz-transition: 2s ease transform;
            -o-transition: 2s ease transform;
            transition: 2s ease transform;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            background: #00cae9;
            position: relative;
            //transform: rotate(-45deg);
            left: 50%;
            top: 50%;
            margin: -10px 0 0 -10px;
            box-shadow: 0px 1px 1px #999;
        }

        .icon-box {
            position: absolute;
            top : -2px;
            i {
                margin: 0 auto;
                color:white;
                font-size:16px;
            }
            i:before {
                width: 20px;
                text-align: center;
            }
        }
    } 
    .css-pin-marker:active, .css-pin-marker:hover {
        z-index: 9999 !important;
        .pin-marker{
            -webkit-animation: glow 1s infinite ease alternate;
            -moz-animation: glow 1s infinite ease alternate;
            animation: glow 1s infinite ease alternate;
        }
    }
    .marker-cluster {
        div.outer {
            margin: -5px 0px 0px 0px;
            width: 40px;
            height: 40px;
            background-clip: padding-box;
            border-radius: 20px;
        }
        div.inner {
            width: 24px;
            height: 24px;
            margin-left: 8px;
            margin-top: 5px;
            text-align: center;
            border-radius: 15px;
            font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
            background-color: white;
            position: relative;
            top: 8px;
        }
        div.inner span {
            line-height: 25px;
        }
    }

    #pointer {
        z-index: 11;
        margin: -15px 0 0 -15px;
        position: absolute;
        top: 50%; left: 50%;
        width: 30px;
        height: 30px;

        .pin{
            width: 30px;
            height: 30px;
            -webkit-border-radius: 50% 50% 50% 0;
            border-radius: 50% 50% 50% 0;
            background: $positive;
            position: absolute;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            left: 50%;
            top: 50%;
            margin: -36px 0 0 -15px;
            -webkit-animation-name: bounce;
            -moz-animation-name: bounce;
            -o-animation-name: bounce;
            -ms-animation-name: bounce;
            animation-name: bounce;
            -webkit-animation-fill-mode: both;
            -moz-animation-fill-mode: both;
            -o-animation-fill-mode: both;
            -ms-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
            -o-animation-duration: 1s;
            -ms-animation-duration: 1s;
            animation-duration: 1s;
        }
        .pin:after {
            content: '';
            width: 14px;
            height: 14px;
            margin: 8px 0 0 8px;
            background: white;
            position: absolute;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        .pulse{
            background: rgba(0,0,0,0.2);
            -webkit-border-radius: 50%;
            border-radius: 50%;
            height: 14px;
            width: 14px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -4px 0px 0px -7px;
            -webkit-transform: rotateX(55deg);
            -moz-transform: rotateX(55deg);
            -o-transform: rotateX(55deg);
            -ms-transform: rotateX(55deg);
            transform: rotateX(55deg);
            z-index: -2;
        }
        .pulse:after {
            content: "";
            -webkit-border-radius: 50%;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            position: absolute;
            margin: -13px 0 0 -13px;
            -webkit-animation: pulsate 1s ease-out;
            -moz-animation: pulsate 1s ease-out;
            -o-animation: pulsate 1s ease-out;
            -ms-animation: pulsate 1s ease-out;
            animation: pulsate 1s ease-out;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            -webkit-box-shadow: 0 0 1px 2px #89849b;
            box-shadow: 0 0 1px 2px #89849b;
            -webkit-animation-delay: 1.1s;
            -moz-animation-delay: 1.1s;
            -o-animation-delay: 1.1s;
            -ms-animation-delay: 1.1s;
            animation-delay: 1.1s;
        }

    }

    #map-action-menu{
        position: absolute; 
        bottom: 80px; 
        right:8px;
        display:inline-block;
        z-index: 2000;
        #bottom-bar-toggler{

            #time-box{

                .button{
                    border: 1px solid #b2b2b2;
                    background: #fff;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
                    min-width: 46px;
                }
            }
        }
    }

    #bottom-bar{}
}


@-webkit-keyframes glow {
    from { -webkit-transform: rotate(-45deg) scale(1); }
    to { -webkit-transform: rotate(-45deg) scale(1.2); }
}
@-moz-keyframes glow {
    from { -moz-transform: rotate(-45deg) scale(1); }
    to { -moz-transform: rotate(-45deg) scale(1.2); }
}
@keyframes glow {
    from { transform: rotate(-45deg) scale(1); }
    to { transform: rotate(-45deg) scale(1.2); }
}