.modal{
    padding: 0px;
    margin: 0px;
    .modal-header,.bar-footer{
        box-shadow:0px 0px 6px #ddd;
    }
    .modal-header{
        padding: 24px 16px 16px; 
        position: relative;
        background-color: #f5f5f5;
        color:white;
        form{
            input{
                width: 100%;
                background-color: transparent;
                padding: 0px 8px;
            }
            .icon:before {
                color:#333;
            }
        }
        h1 {
            color:black;
            margin: 0px;
            padding: 0px 16px 0px 0px;
            left:16px !important;
            font-size: 2em;
            text-align: left;
            letter-spacing: 1px;
            font-weight: 400;
        }
        h1:first-letter {
            text-transform: uppercase;
        }
        .buttons{
            color:black;
            top:0px;
            right:0px;
            margin: 0px;
            .button { 
                color:black;
                width: 40px;
                height: 45px;
            }
        }
    }
    .modal-subheader{
        color: #555;
        padding: 8px 16px;
        font-size: 20px;
//        font-weight: 200;
        border-bottom:1px solid rgba(221, 221, 221, 0.5);
        .modal-subheader-item{
            margin-right: 10px;
            font-size: 0.8em;
            i {
               font-size: 20px;
                margin-right: 6px;
                vertical-align: middle;
            }
        }
        modal-subheader-item:last-child{
            margin-right: 0px;
        }
    }
    .content{
        padding: 16px;
        margin: 0px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1;
        //border-bottom:1px solid rgba(221, 221, 221, 0.5);
        color: $dark;
        form{
            padding: 20px 0;
            textarea{
                width: 100%;
            }
        }
    }
    .description-field:first-letter {
        text-transform: uppercase;
    }
    .description-field{
        white-space: pre-line;
        // copre la prima linea bianca, occhio stessa dimensione del line-height
        margin-top: -24px;
    }
    .modal-url{
        color: $positive;
        a {
            color: $positive;
            text-decoration: none;
            span{
                margin-left: 10px;
                color:black;
            }

        }
        a:hover span{
            color:$positive;
            text-decoration: underline;
        }
    }
    .tag-list{
        padding: 16px 16px 8px;
        .tags{

            .tag{
                margin: 0 8px 8px 0;
                padding: 4px 8px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                display: inline-flex;
                i {
                    margin-right: 5px;
                }
            }
        }
    }

    
    .foto-box{
        //border-bottom:1px solid rgba(221, 221, 221, 0.5);
        //margin-bottom: 32px;
        //padding-bottom: 16px;
        .foto-mosaico{
            margin: 0px;
            padding: 0px;
            border-left:5px solid white;
            //border-bottom:1px solid rgba(221, 221, 221, 0.5);
            div{
                //width : $small;
                //height: $small;
                overflow: hidden;
                position: relative;
                padding: 0px;
                margin: 0px;
                border-right: white solid 5px;
                border-bottom: white solid 5px;
                img{
                    position:  absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    // immagine formato cover, come il background
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    padding: 0px;
                    border: 0px;
                    display: inline-flex;
                }
                i.icon{
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #fff;
                    font-size: 24px;
                    cursor: pointer;
                    background-color: #FC4A00;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 30px;
                }
                .didascalia{
                    line-height: 1em;
                }
            }
            div:before{
                content: "";
                display: block;
                padding-top: 100%; 	/* initial ratio of 1:1*/
            }
        }
    }
    #box-commenti{
        .item {
            
            pre:first-letter {
                text-transform: uppercase;
            }
            pre{
                font-family: "Georgia","trebouchet MS", "Verdana", "monospace";
                font-style: italic;
            }
        
        }
    }
    .item-divider{
        letter-spacing: 1px;
        font-weight: 400;
    }
    .has-error{border-bottom:$error 2px solid !important;}
    .no-error{border-bottom:$valid 2px solid !important;}

    .bar-footer{
        .button {color:#333;font-weight: 400;}
        .button:before {color:#444;}

        .left-buttons{
            .button{margin-left:6px;}
        }
        .title{}
        .right-buttons{
            .button{margin-right:6px;}
        }
    }
}
.username{font-weight: 700;}
.message{font-size: .9em; color: $mediumDark;}
#commentBox{
    .disclaimer{
        padding: 16px;
    }
    form{
        padding: 16px;
        .username{font-size: 1.2em;}
        textarea{
            width: 100%;
            min-height: 160px;
            border: 1px solid #999;
            padding: 8px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -o-border-radius: 2px;
            -moz-border-radius: 2px;
            white-space: pre-wrap;
        }
    }
}
.button-bar-striped{
    background: #f5f5f5;
    .button {
        padding-bottom:4px;
    }
    .button.selected {
        border-bottom:4px solid;
    }
}
#simpleEntityList {
    .textCard{
        .item-text-wrap{
            white-space: pre-wrap;
        }
        .item-footer{
            .button-box{
                position: absolute;
                top: 8px;
                right: 16px;
                button{
                    display: inline-block;
                    align-items: center;
                    //float: right;
                    min-width: 34px;
                    min-height: 34px;
                    font-size: 18px;
                    line-height: 32px;
                }
            }
            
        }
    }
}