.popover-backdrop.active{
    z-index: 11;
    .popover-wrapper{
        .popover  {
            .list{
                .item{
                    border: 0px solid;
                    cursor: pointer;
                    background: transparent;
                    i {
                    
                    }
                }
                .delimited{
                    box-shadow:inset 0px -1px 0px #ddd;
                    display: block;
                }
            }
        }
    }
}