$radius: 10px;
#posteditor {
  input, tags-input .tags{
    border:none;
    box-shadow: none;
  }
  textarea {
    resize: vertical;
  }
  tags-input{
    width: 100%;
    input {
      margin: 0px;
    }
    .tag-list{
      display: block;
      width: 100%;
      border-bottom: 1px solid #ddd;
      float: left;
      clear: both;
      padding-bottom: 6px;
      .tag-item {
        background: transparent;
        border: 1px solid $positive;
        //color:$positive;
        border-radius:$radius;
      }
    }
  }
  .row, col {
    padding: 0px;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .title {
    line-height: 30px;
    height: 30px;
  }
  .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.25);
    .spinner {
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      svg {
        width: 40px;
        height: 40px;
        stroke: #fff;
        fill: #fff;
      }
    }
  }
  #posteditor-controls {
    clear: both;
    button::before{
      margin-right: 6px;
    }
  }
}
.extrafield {
  input, textarea {
    width: 100%;
    padding-left: 6px;
  }
}
.postupdateeditor {
  input, tags-input .tags{
    border:none;
    box-shadow: none;
  }
  textarea {
    resize: vertical;
  }
  input {
    width: 100%;
  }
  tags-input{
    width: 100%;
    .tag-list{
      display: block;
      width: 100%;
      border-bottom: 1px solid #ddd;
      float: left;
      clear: both;
      padding-bottom: 6px;
      .tag-item {
        background: transparent;
        border: 1px solid $positive;
        //color:$positive;
        border-radius:$radius;
      }
    }
  }
}
#pictureloader {
  height: 100%;
  width: 100%;
  position: relative;
  .button{
    color:$lighterDark;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    border-width: 2px;
    border-style: dashed;
    border-color: $lighterDark;
    input {
      width: 100%;
      height: 100%;
    }
    .icon::before{
      font-size: 2.5em;
    }
  }
}
#foto-box {
  padding-bottom: 100%;
  height:0px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: $radius;
  img {
    border-radius: $radius;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  img:hover{

  }
  i {
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 6px;
    opacity: 0;
  }
}
#foto-box:hover{
  background: $dark;
  img {
    opacity: 0.5;
  }
  i{
    opacity: 1;
    color: $light;
  }
}
#post-list {
  .post-outer{
    position: relative;
    .menu {
      position: absolute;
      z-index: 9;
      top: 0px;
      right: 0px;
      width: 30px;
      height: 30px;
    }
    .post {
      position: relative;
      img{
        height: auto;
      }

      .imgbg {
        position: absolute;
        top:35px;
        left: 36px;
        z-index: -1;
      }
      .imgbg::before{
        font-size: 2em;
        color: #afafaf;
      }
      .title {
        font-weight: bold;
        border-bottom: 1px solid #999;
        padding-bottom: 0.5em;
      }
      .text{
        line-height: 1.5em;
        padding-bottom: 0.5em;
      }
      .ext_ref {
        padding-bottom: 0.5em;
        a {
          color: #333;
          text-decoration: none;
        }
      }
      .tags{
        padding-bottom: 0.5em;
        .tag{
          padding: 2px 6px;
          margin-right: 6px;
          font-size: 0.9em;
        }
        .tag::before{
          margin-right: 4px;
          font-size:0.8em;
        }
        .tag:last-child{
          margin-right: 0px;
        }
      }
      .credits {
        font-size: 0.8em;
        font-style: italic;
      }
    }
    .post.inappropriate::after{
      content:'';
      position: absolute;
      top: 0px;
      left: 0px;
      border-top:25px solid $error;
      border-right:25px solid transparent;
      border-bottom:25px solid transparent;
    }
    .post.highlight{
      padding:0px;
      img{
        position: relative;
        top:0px;
        left: 0px;
        max-width: 100%;
        max-height: none;
        height: inherit;
      }
      .postbody{
        position: relative;
        padding: 8px;
      }
    }
    .comments-list{
      width: 100%;
      position: relative;
      border-top:1px solid #ccc;
      .cover {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9;
        top: 0px;
        left: 0px;
        background: rgba(0,0,0,0.25);
        .spinner {
          position: absolute;
          top: calc(50% - 10px);
          left: calc(50% - 10px);
          svg {
            width: 20px;
            height: 20px;
            stroke: #fff;
            fill: #fff;
          }
        }
      }
      .comment{
        position: relative;
        border-bottom:1px solid #ccc;
        padding: 6px 6px 6px 12px;
        font-size: 0.9em;
        .credits {
          color:#666;
          font-size: 0.8em;
          .username {
            //font-weight: 500;
            font-style: italic;
          }
        }
        .menu {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 30px;
          height: 30px;
        }
        .comment-update-editor {
          position: relative;
          .comment-box {
            width: 100%;
            line-height: 30px;
            height: 30px;
          }
          .button {
            background: #fff;
            position: absolute;
            top: 0px;
            right: 0px;
          }
        }
      }
      .comment.inappropriate::after{
        content:'';
        position: absolute;
        top: 0px;
        left: 0px;
        border-top:20px solid $error;
        border-right:20px solid transparent;
        border-bottom:20px solid transparent;
      }
      .comment-editor-box{
        padding:6px;
        background: #f2f2f2;
        .comment-editor{
          width: block;
          margin: 0px;
          border:1px solid #ccc;
          line-height: 29px;
          padding: 0px 6px 0px 12px;
          min-height: 31px;
          border-radius: 2px;
          background: #fff;
          .comment-box{
            width: 100%;
            display:inline-block;
            overflow: auto;
            resize: vertical;
          }
          .button{
            width: 31px;
          }
          .cover {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 9;
            top: 0px;
            left: 0px;
            background: rgba(0,0,0,0.25);
            .spinner {
              position: absolute;
              top: calc(50% - 10px);
              left: calc(50% - 10px);
              svg {
                width: 20px;
                height: 20px;
                stroke: #fff;
                fill: #fff;
              }
            }
          }
        }
      }
    }
    .right{
      float: right;
    }
  }
}
#comment-menu{
  .button{
    width: 41px;
    i.icon{
      margin: 0px auto;
    }
  }
}
#post-menu{
  .button{
    width: 41px;
    i.icon{
      margin: 0px auto;
    }
  }
}