#searchbar{
    margin:6px 6px 10px 0px;
    display: inline-flex;
    width: auto;
    background: #fff;
    border-radius: 20px;
    height: 40px;
    overflow: hidden;
    box-shadow:0 1px 5px rgba(0,0,0,0.65);
    width: 40px;
    position: relative;
    left: 3px;
    border: 0px solid #ccc;
    .togglebar:hover{
        color:$positive;
    }
    .togglebar.open, .togglebar.active{
        background: $positive;
        color: white;
    }
    button.button {
        border: 0 solid;
        background: #fff;
        border-radius: 20px;
        padding: 0px;
        height: 40px;
        min-height: 40px;
        width: 40px;
        min-width: 40px;
        i{
            padding:0px;
        }
    }
    button:focus{
        box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);
    }
    input{
        padding: 5px 5px 5px 14px;
        line-height: 30px;
        height: 40px;
        width: 100%;
        border-radius: 20px;
    }
    button.fixed-button{
        background: trasparent;
    }
    .fixed-button::before{
        background: white;
    }
}
div.search-tag-card {
    color: #333;
    margin: 0px 10px 6px 0px;
    display: inline-flex;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0,0,0,.65);
    height: 40px;
    line-height: 40px;
    padding: 0px 0px 0px 16px;
    position: relative;
    top: -4px;
    .tag-card-body{
        line-height: 40px;
        cursor: pointer;
    }
    button.button {
        height: 40px;
        width: 40px;
        min-height: 20px;
        min-width: 20px;
    }
}
