ion-side-menu#side-menu
{
    background-color: $stable;//lighten($dark, 30%);
	ion-content
	{
		
	}
    .bar-footer{
        height: 20px;
        background: rgba(255,255,255,0.8);
        z-index: 9999;
        font-size: 0.8em;
        padding: 0px 10px 0px;
    }
	ion-item.item
	{
		border:none;
        background-color: transparent;// lighten($dark, 10%);
        color: lighten($dark, 20%);
        //*{color: white;}
        .icon:before, .menu-text, .greeting, .message {
            //background-color: $dark;
            color: lighten($dark, 20%);
            font-weight:300;
        }
        .item-content, .item-content.activated{background: transparent;}
	}
    ion-item.item-button{
        cursor: pointer;
    }
    ion-item.item-button:hover, ion-item.item-button:active, ion-item.item-button:focus{
       .menu-text, i:before{ 
           color: $positive;
        }
    }
    ion-item.item-divider{
        border-bottom: 1px solid lighten($dark, 20%);
        margin-top: 32px;
    }
	ion-item.item:first-child
	{
		border-top:none;
	}

	ion-item.item:last-child
	{
		//border-bottom:none;
	}
    ion-item.logo{
        //box-shadow: 0 1px 10px #333;
        //text-align: center;
        //background-color: #fff;
        //z-index: 8;
        //position: relative;
        border-bottom: 1px solid lighten($dark, 20%);
        img{
            max-width: 100px;
        }
        *{vertical-align: top;}
    }
	ion-item.heading-item
	{
		padding-top: 30px;
		padding-left: 100px;

		img
		{
			max-width:60px !important;
			max-height:60px !important;
			border: 1px solid lighten($dark, 20%);
		}
	}
}
