.signup-view
{
	background-color: darken($light, 60%) !important;

	.row
	{
        
        
		
	}
    
   .top-content
    {
        height:45%;
        text-align: center;
    }

    .bottom-content
    {
        height:55%;
    }
	.signup-form
	{
        .list{
            .item{
                border: 0px;
                padding: 0px 10px 10px 10px;
                .input-label{
                    
                }
                .input-label.has-input{
                    color: white;
                }
                input {
                    background-color: rgba(0, 0, 0, 0.6) !important;
                    color:white;
                      bottom: 0;
                      color: #fff;
                      letter-spacing: 0.25rem;
                      padding: 20px 10px;
                      position: relative;
                      z-index: 1;
                }
                input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
                    background-color: rgba(0, 0, 0, 0.6) !important;
                    color:white !important;
                    background-image: none;
                }
            }
        }
		
	}

	.alternative-actions
	{
        
		margin: 30px 10px;

		.button
		{
            
			padding:0px;
			font-size:14px;
		}
        .button.disabled, .button[disabled] {
            opacity: 0.8;
        }
	}
}
