// scss delle timelines della mappa
timeline{
    position: absolute;
    z-index:1000;
    bottom: 0px;
    height: auto;
    width: 100%;
    font-weight: 300;
    text-transform: uppercase;
    #buttons{
        position: relative;
        z-index: 2;
        border-top:#ccc 1px solid;
        //top:-46px;
        //left: 8px;
        width: 100%;
        height: 40px;
        background-color: #fafafa;
        padding: 8px 16px;
        button{
            margin: 0px 4px;
            height: 25px;
            min-height: 25px;
            max-height: 25px;
            line-height: 25px;
            min-width: 60px;
            color:$lightDark;
        }
        .group{
            margin:0px 16px; 
        }
    }
    #context{
        position: absolute;
        top:-60px;
        right: 8px;
        background: $dark;
        color: white;
        padding: 0px 12px;
        //box-shadow: 1px 1px 3px #666;
        //width: 100%;
        text-align: left;
        span{
            font-weight: 300;
            //margin-right: 20px;
        }
        
        i:before{
            font-size: 24px;
            line-height: 41px;
            padding: 0px 0px 1px;
        }
    }
    #timeline{
        margin: 0px;
        padding: 0px;
        width: 100%;
        //background: #fafafa;
        overflow-x: scroll;
        white-space: nowrap;
        display: table;
        table-layout: auto;
        position: relative;
        //box-shadow: 1px 1px 3px #666;
        .repeated-item {
            //border-right: 1px solid #ccc;
            box-sizing: border-box;
            display: table-cell;
            height: 50px;
            vertical-align: bottom;
            text-align: center;
            width: 60px; 
            cursor: pointer;
            position: relative;
            overflow: hidden;
            border-radius:12px 12px 0px 0px;
            box-shadow: 1px 1px 3px #666;
            .badge{
                position:absolute;
                right: 8px;
                background:$positive;
                color: white;
                font-weight: 400;
            }
            .entities{
                //position:absolute;
                //top:-12px;
                //top:0px;
                width:100%;
                height:12px;
                text-align:right;
                span{
                    height:12px;
                    display:inline-block;
                    vertical-align: top;
                }
            }
            .label{
                padding-top:10px;
                box-shadow: 1px 1px 4px #333;
                height: 38px;
                position: relative;
                z-index: 1;
            }
            
        }
        .repeated-item:nth-child(even){
            background: #f3f3f3;
        }
        .repeated-item:nth-child(odd){
            background: #fafafa;
        }
        .repeated-item:last-child{
            border-width: 0px;
        }
        .repeated-item:hover,.repeated-item:focus,.repeated-item:active{
            
        }
        .current{
            //background:#333 !important;
            //color: white;
            .label{
                border-bottom: 6px solid $positive;
            }
            .badge{
                background: white;
                color:$positive;
            }
            
        }
    }
}



//#timelines{
//    width: 100%;
//    position: absolute;
//    bottom: 8px;
//    //text-align: right;
//    //z-index: 1000;
//    #time-box{
//        display: inline-block;
//        position: absolute;
//        left:8px;
//        top: -14px;
//        z-index: 1000;
//        button{
//            background-color: #fff;
//            border-radius: 0;
//            border-width: 0px;
//            box-shadow: 1px 1px 3px #666;
//            min-width: 40px;
//            max-width: 40px;
//            max-height: 40px;
//            min-height: 40px;
//            border-radius: 100px 100px 100px 100px;
//            -o-border-radius: 100px 100px 100px 100px;
//            -webkit-border-radius: 100px 100px 100px 100px;
//            -moz-border-radius: 100px 100px 100px 100px;
//            .box-data-bottone{
//                display: inline-block;
//            }
//        }
//    }
//    #time-bar{
//        margin: 8px 0px -8px;
//        padding: 4px 6px 8px;
//        text-align: right;
//        width: 100%;
//        background: #fafafa;
//        box-shadow: 1px 1px 3px #666;
//    }
//    #timeline{
//        position: relative;
//        background-color: #fff;
//        box-shadow: 0px 0px 6px #ddd;
//        margin: 0px 0px -8px;
//        box-shadow: 1px 1px 3px #666;
//        overflow: visible !important;
//        .vis-timeline{
//            border: 0px solid;
//        }
//        .timeline-event-dot-container {
//            //top: -200px !important;
//            //position: absolute;
//            
//        }
//        .timeline-event-range {
//            //top: -100px !important;
//            //position: absolute;
//            //border:1px solid white;
//            //box-shadow: inset 0px 0px 2px white;
//            .timeline-event-content{
//                margin:0px;
//                background:#fafafa;
//            }
//        }
//        div{
//            overflow: visible !important;
//        }
//        .dotEventIcon{
//            //color:white;
//            width: 20px;
//            height: 20px;
//            text-align: center;
//            display: inline-block;
//            font-size: 1.3em;
//            //box-shadow: 1px 0px 2px #c9c9c9;
//        }
//        div.timeline-event{
//            background-color: #fafafa;
//            border-color: #6C93B3;
//            box-shadow: 1px 0px 2px #c9c9c9;
//            z-index: 999;
//            -o-border-radius: 20px;
//            -moz-border-radius: 20px;
//            -webkit-border-radius: 20px;
//            border-radius: 20px;
//        }
//        div.timeline-event-cluster {
//            background: #6C93B3;
//            color: white;
//        }
//        .timeline-frame{
//            width: 100% !important;
//        }
//        .timeline-groups-axis{
//            width: 0px !important;
//            left: 100% !important;
//            overflow: visible;
//            #selectedGroup{
//                //background: #6C93B3;
//                //color: white;
//            }
//            .timeline-groups-text:hover,.timeline-groups-text:active,.timeline-groups-text:focus{
//                //background-color: #efefef;
//                //box-shadow: 1px 1px 3px #666;
//                transition: all ease 0.3s;
//            }
//            .timeline-groups-text {
//                right: 8px;
//                font-size: 1em;
//                color: #333;
//                cursor: pointer;
//                display: inline-block;
//                //background-color: #fcfcfc;
//                //padding: 6px 6px;
//                //margin-top: -15px;
//                //box-shadow: 1px 1px 3px #aaa;
//            }
//        }
//    }
//}