// scss delle timelines della mappa
timeline{
    position: absolute;
    z-index:1000;
    bottom: 0px;
    height: auto;
    width: 100%;
    #time-controls{
        position:absolute;

        bottom:92px;
        display: inline-block;
    }
    #time-controls.mobile{
        left:6px;
        button {
            border: 0px solid;
            min-width: 35px;
            min-height: 35px;
            margin: 0px;
        }
    }
    #time-controls.nomobile{
        background: #fff;
        border-radius: 4px;
        box-shadow:0 1px 5px rgba(0,0,0,0.65);
        left:10px;
        .reset:before{
            font-weight: bold;
        }
        button.time-control{
            min-height: auto;
            height: 30px;
            width: 30px;
            line-height: initial;
            margin: 0px 0 0 -4px;
            border-left:1px #ccc solid;
            display: inline-block;
        }
        button.time-control:hover{
            background: #f1f1f1;
        }
        button.time-control:first-child{
            border-left:0px solid;
            margin: 0px;
            border-radius:4px 0px 0px 4px;
        }
        button.time-control:last-child{
            border-radius:0px 4px 4px 0px;
        }
    }
    #buttons{
        position: relative;
        //z-index: 2;
        border-top:#ccc 1px solid;
        width: 100%;
        height: 34px;
        background-color: #f3f3f3;
        padding: 4px 4px 0px;
        overflow: hidden;
        button{
            margin: 0px 4px 0px 0px;
            padding: 0px 4px;
            height: 25px;
            min-height: 25px;
            max-height: 25px;
            line-height: 25px;
            //min-width: 60px;
            color:$lightDark;

            text-transform: capitalize;
            .icon:before{
                line-height:25px;
            }
            //border-color: $positive;
            background-color: white !important;
        }
        .current-button, .current-button[disabled] {
            background-color: transparent !important;
            text-shadow: 1px 1px 0px white;
            border-color:transparent;
            //color:$positive;
        }
        .button.disabled, .button[disabled]{
            opacity:1;
            background-color: transparent !important;
        }
        .group{
            margin:0px 16px 0px 0px; 
        }
        .right {
            float: right;
            margin:0px 0px 0px 8px;
            button{
                margin: 0px 0px 0px 4px;
            }
        }
        .applogo{
            height: 30px;
            margin-top: -2px;
            img {
                max-height: 30px;
                display: inline-block;
                width: auto;
            }
        }
    }
    #timeline{
        margin: 0px;
        padding: 0px 0px;
        width: 100%;
        overflow-x: hidden;
        white-space: nowrap;
        display: block;
        table-layout: auto;
        position: relative;
        box-shadow: -1px 0px 5px rgba(0,0,0,0.65);
        .scroll{
            display: table;
            width: 100%;
            height: 35px;
        }
        .repeated-item {
            box-sizing: border-box;
            display: table-cell;
            height: 35px;
            vertical-align: bottom;
            width: 60px; 
            cursor: pointer;
            position: relative;
            //border-right: 1px solid #aaa;
            background-color: #ffffff;
            background-image: linear-gradient(90deg,  rgba(73, 73, 73, 0.5) 0, rgba(73, 73, 73, 0.5) 1px, transparent 1px);
            background-repeat: repeat-x;
            background-position: left bottom;
            min-height: 15px;
            .badge{
                position:absolute;
                right: 8px;
                background:$positive;
                color: white;
                font-weight: 400;
            }
            .entities{
                background: #fafafa;
                width:100%;
                text-align:right;
                overflow: hidden;
                span{
                    opacity: 1;
                    height:12px;
                    display:inline-block;
                    vertical-align: top;
                }
            }
            .divider-label{
                position: absolute;
                top: 0px;
                z-index:1;
                overflow: hidden;
                width: 100%;
                padding: 0px 4px 0px 2px;
                text-transform:capitalize;
            }

            .label{
                position: relative;
                z-index: 1;
                padding: 0px 4px;
                text-align: right;
                display: block;
                text-transform:capitalize;
            }
        }
        .repeated-item.seven{
            background-size: 15% 15px;
        }
        .repeated-item.six{
            background-size: 17% 15px;
        }
        .repeated-item.four{
            background-size: 26% 15px;
        }
        .repeated-item:nth-child(even){
            background-color: #f3f3f3;
        }
        .repeated-item:nth-child(odd){
            background-color: #fafafa;
        }
        .repeated-item:hover{
            box-shadow:inset 0px -3px 0px #fc4a00 !important;
            cursor: pointer;
        }
        .repeated-item:last-child{
            border-left: 0px solid;
        }
        .repeated-item:hover,.repeated-item:focus,.repeated-item:active{
            .entities{
                span{
                    opacity: 0.6;
                }
            }
            .label{

            }
        }
        .current,.current:hover{
            cursor: pointer;
            .label{

            }
            .badge{
                background: white;
                color:$positive;
            }
            .divider-label {
                //color: $positive;
                font-weight: 500;
            }
        }
        .red {
            background-color:lighten($positive,30%) !important;
        }
        .noclick{
            background-color: #fafafa !important;
            cursor: inherit !important;
        }
        .noclick:hover {
            box-shadow: none !important;
        }
    }
}
