// scss delle timelines della mappa
timeline{
    position: absolute;
    z-index:1000;
    bottom: 0px;
    height: auto;
    width: 100%;
    .context{
        position: absolute;
        top:-60px;
        right: 8px;
        background: $dark;
        color: white;
        padding: 0px 12px;
        text-align: left;
        overflow: hidden;
        span{
            display: inline-block;
            padding-right: 10px;
            font-weight: 300;
            font-size: 1em;
        }
        span::first-letter{
            text-transform: capitalize;
        }
        i{
            //margin-left: 20px;
        }
        i:before{
            font-size: 24px;
            line-height: 41px;
            padding: 0px 0px 1px;
        }
    }
    #buttons{
        position: relative;
        z-index: 2;
        border-top:#ccc 1px solid;
        width: 100%;
        height: 34px;
        background-color: #f3f3f3;
        padding: 4px 16px;
        overflow: hidden;
        button{
            margin: 0px 4px 0px 0px;
            height: 25px;
            min-height: 25px;
            max-height: 25px;
            line-height: 25px;
            min-width: 60px;
            color:$lightDark;
            .icon:before{
                line-height:25px;
            }
        }
        .button.disabled, .button[disabled]{
//            background: $dark;
//            color:$light;
            opacity:1;
        }
        .group{
            margin:0px 16px 0px 0px; 
        }
        .right {
            float: right;
            margin:0px 0px 0px 16px; 
            button{
                margin: 0px 0px 0px 4px;
            }
        }
    }
    #timeline{
        margin: 0px;
        padding: 0px 0px;
        width: 100%;
        //background: #fafafa;
        overflow-x: hidden;
        white-space: nowrap;
        display: block;
        table-layout: auto;
        position: relative;
        //box-shadow: 1px 1px 3px #666;
        .scroll{
            display: table;
            width: 100%;
            height: 45px;
        }
        .repeated-item {
            box-sizing: border-box;
            display: table-cell;
            height: 40px;
            vertical-align: bottom;
            text-align: center;
            width: 60px; 
            cursor: pointer;
            position: relative;
            .badge{
                position:absolute;
                right: 8px;
                background:$positive;
                color: white;
                font-weight: 400;
            }
            .entities{
                background: #fafafa;
                width:100%;
                height:12px;
                text-align:right;
                overflow: hidden;
                span{
                    opacity: 1;
                    height:12px;
                    display:inline-block;
                    vertical-align: top;
                }
            }
            .label{
                box-shadow: 0px 0px 3px #666;
                border-radius:12px 12px 0px 0px;
                height: 28px;
                position: relative;
                z-index: 1;
                padding: 4px;
                font-weight: 300;
                text-transform: uppercase;
            }
        }
        .repeated-item:nth-child(even){
            .label{
                background: #f3f3f3;
            }
        }
        .repeated-item:nth-child(odd){
            .label{
                background: #fafafa;
            }
        }
        .repeated-item:last-child{
            border-width: 0px;
        }
        .repeated-item:hover,.repeated-item:focus,.repeated-item:active{
            .entities{
                span{
                    opacity: 0.6;
                }
            }
            .label{

            }
        }
        .current{
            //background:#333 !important;
            //color: white;
            .label{
                //border-bottom: 6px solid $positive;
                font-weight: 500;
                text-decoration: underline;
            }
            .badge{
                background: white;
                color:$positive;
            }

        }
    }
}
