// scss delle timelines della mappa
timeline{
    position: absolute;
    z-index:1000;
    bottom: 0px;
    height: auto;
    width: 100%;
    #time-controls{
        position:absolute;

        bottom:76px;
        display: inline-block;
    }
    #time-controls.mobile{
        left:6px;
        button {
            border: 0px solid;
            min-width: 35px;
            min-height: 35px;
            margin: 0px;
        }
    }
    #time-controls.nomobile{
        background: #fff;
        border-radius: 4px;
        box-shadow:0 1px 5px rgba(0,0,0,0.65);
        left:10px;
        .reset:before{
            font-weight: bold;
        }
        button.time-control{
            min-height: auto;
            height: 26px;
            width: 26px;
            line-height: initial;
            margin: 0px 0 0 -4px;
            border-left:1px #ccc solid;
            display: inline-block;
        }
        button.time-control:hover{
            background: #f1f1f1;
        }
        button.time-control:first-child{
            border-left:0px solid;
            margin: 0px;
            border-radius:4px 0px 0px 4px;
        }
        button.time-control:last-child{
            border-radius:0px 4px 4px 0px;
        }
    }
    #buttons{
        position: relative;
        z-index: 2;
        border-top:#ccc 1px solid;
        width: 100%;
        height: 34px;
        background-color: #f3f3f3;
        padding: 4px 8px 0px;
        overflow: hidden;
        button{
            margin: 0px 4px 0px 0px;
            padding: 0px 4px;
            height: 25px;
            min-height: 25px;
            max-height: 25px;
            line-height: 25px;
            min-width: 60px;
            color:$lightDark;
            .icon:before{
                line-height:25px;
            }
        }
        .button.disabled, .button[disabled]{
            //            background: $dark;
            //            color:$light;
            opacity:1;
        }
        .current-button {
//            font-weight: bold;
        }
        .group{
            margin:0px 16px 0px 0px; 
        }
        .right {
            float: right;
            margin:0px 0px 0px 8px;
            button{
                margin: 0px 0px 0px 4px;
            }
        }
        .applogo{
            height: 40px;
            margin-top: -2px;
            img {
                max-height: 40px;
                display: inline-block;
                width: auto;
            }
        }
    }
    #timeline{
        margin: 0px;
        padding: 0px 0px;
        width: 100%;
        //background: #fafafa;
        overflow-x: hidden;
        white-space: nowrap;
        display: block;
        table-layout: auto;
        position: relative;
        box-shadow: -1px 0px 5px rgba(0,0,0,0.65);
        //box-shadow: 1px 1px 3px #666;
        .scroll{
            display: table;
            width: 100%;
            height: 35px;

            //            background: linear-gradient(rgba(255,255,255,0),$light)
        }
        .repeated-item {
            box-sizing: border-box;
            display: table-cell;
            height: 35px;
            vertical-align: bottom;
            width: 60px; 
            cursor: pointer;
            position: relative;
            border-right: 1px solid #aaa;
            .badge{
                position:absolute;
                right: 8px;
                background:$positive;
                color: white;
                font-weight: 400;
            }
            .entities{
                background: #fafafa;
                width:100%;
                //height:12px;
                text-align:right;
                overflow: hidden;
                span{
                    opacity: 1;
                    height:12px;
                    display:inline-block;
                    vertical-align: top;
                }
            }
            .divider-label{
                position: absolute;
                top: 0px;
                z-index:1;
                overflow: hidden;
                width: 100%;
                padding: 0px 4px;
                text-transform:capitalize;
            }

            .label{
                //                box-shadow: 0px 0px 3px #666;
                //                border-radius:12px 12px 0px 0px;
                //                height: 28px;
                position: relative;
                z-index: 1;
                padding: 0px 4px;
                text-align: right;
                display: block;
                text-transform:capitalize;
            }
        }

        .repeated-item:nth-child(even){
            background: #f3f3f3;
            border-bottom:3px solid #f3f3f3;
        }
        .repeated-item:nth-child(odd){
            background: #fafafa;
            border-bottom:3px solid #fafafa;
        }
        .repeated-item:hover{
            //            background: white;
            border-bottom:3px solid $positive !important;
            cursor: pointer;
        }
        .repeated-item:last-child{
            border-left: 0px solid;
        }
        .repeated-item:hover,.repeated-item:focus,.repeated-item:active{
            .entities{
                span{
                    opacity: 0.6;
                }
            }
            .label{

            }
        }
        .current,.current:hover{
            //            background:$positive !important;
            //            color: white;
            cursor: inherit;
            border-bottom:3px solid $positive !important;
            .label{

            }
            .badge{
                background: white;
                color:$positive;
            }

        }
        .noclick{
            background: #fafafa !important;
            cursor: inherit !important;
            border-bottom:3px solid white !important;
        }
        .noclick:hover {
            border-bottom:3px solid white !important;
        }
    }
}
