#treemapfilter {
    overflow: hidden; 
    position: relative;
    
    i {
        font-size:2em;
    }
    .label{
        font-size:1.5em;
    }
    .root {
        border:1px solid $light;
        border-color:$light;
        position:absolute;
        
        .backtoroot {
            background-color:$light;
            color:$dark;
            margin: 0px;
            height: 50px;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -o-border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-box-shadow: inset 0 0 0 0 #444,inset 0 -3px 3px -3px #bbb;
            -o-box-shadow: inset 0 0 0 0 #444,inset 0 -3px 3px -3px #bbb;
            -webkit-box-shadow: inset 0 0 0 0 #444,inset 0 -3px 3px -3px #bbb;
            box-shadow: inset 0 0 0 0 #444,inset 0 -3px 3px -3px #bbb;
        }
        
        .divider {
            border-bottom:3px solid #f8f8f8; 
            width:100%;
        }
        
        .legend {
            position:absolute;
            z-index:1;
            color:$light;
            padding:10px;
        }
        
        .rootlabel{
            position:absolute;
            color:white;
            width:100%;
            min-height:100%;
            height:auto;
            display: table;
            
            .label{
                display:table-cell;
                vertical-align:middle;
                border:none;
                text-align: center;
            }
        }
        
        .child{
            background: $light;
            border-color:#f8f8f8;
            height: 100%;
            position:relative;

            .childblock{
                position:absolute;
                box-shadow: inset 0px 0px 0px 1px $light;
                -o-box-shadow: inset 0px 0px 0px 1px $light;
                -moz-box-shadow: inset 0px 0px 0px 1px $light;
                -webkit-box-shadow: inset 0px 0px 0px 1px $light;
                
                .label{
                    width:100%;
                    min-height:100%;
                    height:auto;
                    border-radius:0px;
                    background: transparent;
                }
                
                .checker {
                    position:absolute;
                    z-index:1;  
                    padding:10px;
                }
            }
        }
    }
}