#treemapfilter {
    overflow: hidden; 
    position: relative;
    
    i {
        font-size:2em;
    }
    .label{
        font-size:1.1em;
        font-weight: 500;
        color: $dark;
    }
    .root {
        //border:4px solid white;
        position:absolute;
        background-color: white;
        //border-radius: 4px;
        .backtoroot {
            background-color:$light;
            color:$dark;
            margin: 0px;
            height: 50px;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -o-border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-box-shadow: inset 0 0 0 0 #444,inset 0 -3px 3px -3px #bbb;
            -o-box-shadow: inset 0 0 0 0 #444,inset 0 -3px 3px -3px #bbb;
            -webkit-box-shadow: inset 0 0 0 0 #444,inset 0 -3px 3px -3px #bbb;
            box-shadow: inset 0 0 0 0 #444,inset 0 -3px 3px -3px #bbb;
        }
        
        .divider {
            border-bottom:3px solid #f8f8f8; 
            width:100%;
        }
        
        .legend {
            position:absolute;
            top:0px;
            left:0px;
            z-index:1;
            color:$light;
            padding:10px;
            height: 34px;
            width: 34px;
            line-height: 34px;
            border-style: solid;
            //border-color: white;
            border-width: 0px;
            //border-radius: 4px;
        }
        .legend:before{
            margin: 0px;
            text-align: center;
        }
        .legend:hover {
            color: $positive !important;
        }
        .legend.selected{
            color: white !important;
            //border-width: 0px 4px 4px 0px;
        }
        .rootlabel{
            position:absolute;
            width:100%;
            min-height:100%;
            height:100%;
            display: table;
            .label{
                display:table-cell;
                vertical-align:middle;
                border:none;
                text-align: center;
                border-radius: 4px;
                //border-width: 4px;
                //border-style: solid;
            }
        }
        
        .child{
            background: $light;
            border-color:#f8f8f8;
            height: 100%;
            position:relative;

            .childblock{
                position:absolute;
                box-shadow: inset 0px 0px 0px 1px $light;
                -o-box-shadow: inset 0px 0px 0px 1px $light;
                -moz-box-shadow: inset 0px 0px 0px 1px $light;
                -webkit-box-shadow: inset 0px 0px 0px 1px $light;
                
                .label{
                    width:100%;
                    min-height:100%;
                    height:auto;
                    border-radius:0px;
                    background: transparent;
                }
                
                .checker {
                    position:absolute;
                    z-index:1;  
                    padding:10px;
                }
            }
        }
    }
}