#wall{
    .container {
        height: 204px;
        overflow: hidden;
        .card {
            .main {
                height: 133px;
                overflow: hidden;
                .title {
                    margin-bottom: 16px;
                    font-size: 20px;
                }
                .title:hover {
                    text-decoration: underline;
                }
                .subheader {
                    margin-bottom: 10px;
                    .type-icon, .tag {
                        display: inline-block;
                        margin-right: 8px;
                    }
                    .tag {
                        cursor: pointer;
                    }
                    .tag:hover {
                        text-decoration: underline;
                    }
                }
            }
            .actions {
                text-align: right;
                background: #f8f8f8;
                .button {
                    color: $dark;
                    font-size: 16px;
                }
                .button:hover {
                    color: $positive;
                }
            }
        }
    }
}
.container:focus, .container:hover, .container:active{
    height: auto !important;
    z-index: 999;
    overflow-y: visible;
    .card {
        height: auto !important;
        overflow-y: visible;
        .main {
            height: auto !important;
        }
    }
}