#wall{
    //position: relative;
    .container {
        height: 180px;
        min-height: 180px;
        overflow: hidden;
        .card {
            margin: 10px 20px;
            .title {
                font-size: 20px;
                font-weight: 400;
                cursor: pointer;
                background: #fafafa;
            }
            .title:hover,.title:active,.title:focus {
                //text-decoration: underline;
                background: #f8f8f8;
            }
            .main {
                height: 133px;
                min-height: 133px;
                overflow: hidden;
                .subheader {
                    margin-bottom: 10px;
                    .type-icon, .tag {
                        display: inline-block;
                        margin-right: 8px;
                    }
                    .tag {
                        cursor: pointer;
                    }
                    .tag:hover {
                        text-decoration: underline;
                    }
                }
            }
            .actions {
                text-align: right;
                background: #fafafa;
                height: 32px;
                padding: 7px 8px;
                .action {
                    color: #444;
                    height: 16px;
                    min-width:30px;
                    margin-left: 12px;
                    font-size: 18px;
                }
            }
        }
    }
}
.container:focus, .container:hover, .container:active{
    height: auto !important;
    z-index: 999;
    overflow-y: visible;
    .card {
        height: auto !important;
        .main {
            height: auto !important;
        }
    }
}