wall-toggler {
    #wall-toggler {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}
#wall{
    //position: relative;
    ion-slide{
        margin:0px 0px 50px;
        height: calc(100% - 50px)!important;
    }
    #ricerca{
        width: 100%;
        padding-right: 0px;
        input{
            width: 100%;
            padding-left: 10px;
            display: inline-block;
            background:transparent;
        }
        .button {
            margin-left: 6px;
            //border-radius: 20px;
        }
    }
    .container {
        height: 214px;
        min-height: 214px;
        overflow: hidden;
        .card {
            margin: 6px 6px 0px;
            .title {
                font-size: 1.3em;
                font-weight: 500;
                cursor: pointer;
                background: #fafafa;
            }
            .title:hover,.title:active,.title:focus {
                //text-decoration: underline;
                background: #f8f8f8;
            }
            .main {
                height: 148px;
                min-height: 148px;
                overflow: hidden;
                font-size: 1em;
                .subheader {
                    margin-bottom: 10px;
                    .type-icon, .tag {
                        display: inline-block;
                        margin-right: 8px;
                    }
                    .tag {
                        cursor: pointer;
                    }
                    .tag:hover {
                        text-decoration: underline;
                    }
                }
            }
            .actions {
                text-align: right;
                background: #fafafa;
                height: 32px;
                padding: 7px 8px;
                .action {
                    color: #444;
                    height: 16px;
                    min-width:30px;
                    margin-left: 12px;
                    font-size: 18px;
                }
            }
        }
    }
    entity-filter,#typeFilter{
        width: 100%;
        display: block;
    }
    #typeFilter{
        position: relative;
        //text-align: center;
        //padding: 0px 15px;
        margin-left: 4px;
        button{
            margin:0px auto;
            background: #f1f1f1;
            border-radius: 4px;
            min-height: 34px;
            height: 34px;
            min-width: 40px;
            width: auto;
            padding: 0px 4px;
            text-align: center;
            margin-right: 4px;
            cursor: pointer;
            font-weight: 500;
        }
        button:last-child{
            margin:0px;
        }
        .button.activated, .button.active {
            border:0px;
        }
        button.active:hover, button.active:active{
            //box-shadow:0px 1px 1px #666, inset 0px 0px 10px #fafafa;
        }
        button.inactive:hover, button.inactive:active{
            box-shadow:0px 1px 1px #666;//, inset 0px 0px 10px #afafaf;
        }
        button.active:focus, button.active:hover, button.active:active{
            box-shadow:0px 1px 1px #666;//, inset 0px 0px 10px #fafafa;
        }
        button.inactive:focus{
            box-shadow:0px 1px 1px #666;//, inset 0px 0px 10px #afafaf;
        }
        button.inactive{
        }
        button.active{
        }
        button.disabled{
            opacity: 1;
        }
        button.disabled:hover, button.disabled:focus, button.disabled:active{
            box-shadow:0px 1px 1px #666;
            top:0px;
        }
    }
}
.wall-actions{
    .button {
        font-weight: 500;
    }
}
.container:focus, .container:hover, .container:active{
    height: auto !important;
    z-index: 999;
    overflow-y: visible;
    .card {
        height: auto !important;
        .main {
            height: auto !important;
        }
    }
}