#wizardEntity.content{
    background: #fafafa;
    padding:6px 16px 40px;
    form {
        margin:0px auto; 
        max-width: 1024px;
    }
    input,textarea {width: 100% !important;}
    .nav-bar-title{
        h1{
            color: white;
            text-align: left;
            letter-spacing: 1px;
        }
    }

    form{
        .has-error{
            border-bottom:$error 2px solid;
        }
        .no-error{
            border-bottom:$valid 2px solid;
        }
        .form-errors{
            .form-error{
                color: $error;
            }
        }
        #description-textarea{
            border-left: 0px;
            border-right: 0px;
            height: auto;
            textarea{
                height: auto;
            }
        }
        #date-form{
            margin: 0px;
            label{
                padding: 8px 16px;
                border: 0px;
            }
        }
        .angucomplete-dropdown{
            position: relative;
            z-index: 99;
        }
    }
    .autocompletetags {
        overflow: visible;
        position: relative;
        z-index: 9;
        tags-input{ 
            min-width: 50%;
            .tags{
                box-shadow:none;
                border:0px solid;

                ul.tag-list{
                    background-color: $positive;
                    li.tag-item{
                        background: white;
                        color: $positive;
                        border-color: $positive;
                        .remove-button{
                            color: $positive;
                        }
                    }
                }
                input.input{
                    padding-left: 0px;
                }
            } 
            .tags.focused{
                box-shadow:none;
            }
        }
    }
    .thumbnail{
        padding: 8px 16px;
        display: block;
        position: relative;
        .remove-thumb{
            position: absolute;
            z-index: 1;
            font-size: 1.4em;
            left: 16px;
            top:8px;
            background: #FC4A00;
            text-align: center;
            color: white;
            width: 30px;
            height: 30px;
            padding-top:5px; 
            cursor: pointer;
        }
    }

}


