<div id="thingcard">
    <ion-header-bar class="modal-header" style="position:relative;"
                    ng-class="{'inappropriate':infoPlace.marker.inappropriate}">
        <h1 class="title title-modal" title="{{infoPlace.marker.name}}">{{infoPlace.marker.name}}</h1>
        <div class="buttons">
            <button ng-if="!embed" class="button button-clear icon ion-android-more-vertical"
                    on-tap="openPopover($event)"></button>
        </div>
    </ion-header-bar>
    <ion-header-bar class="bar bar-subheader">
        <div class="button-bar">
            <button class="action button button-positive button-small button-clear icon-left"
                    title="{{isSubscriber ? 'UNFOLLOW' : 'FOLLOW'| translate}} {{marker.name}}"
                    on-tap="toggleFollow(infoPlace.marker.id)">
                <i class="icon" ng-class="isSubscriber ? 'ion-minus-round': 'ion-plus-round'"></i>
                {{isSubscriber ? 'UNFOLLOW' : 'FOLLOW'| translate}}
            </button>
            <button class="action button button-positive button-small button-clear icon-left"
                    title="{{'SHOW_ON_MAP'| translate}} {{marker.name}}"
                    on-tap="share(infoPlace.marker.id)">
                <i class="icon ion-android-share-alt"></i>
                {{"SHARE"| translate}}
            </button>
            <button class="action button button-positive button-small button-clear icon-left"
                    title="{{'SHOW_ON_MAP'| translate}} {{infoPlace.marker.name}}"
                    on-tap="locateOnMap(infoPlace.marker.id)">
                <i class="icon ion-pinpoint"></i>
                {{"SHOW_ON_MAP"| translate}}
            </button>
        </div>
    </ion-header-bar>
    <ion-content
            scroll-event-interval="10"
            overflow-scroll="true"
            scrollbar-x="false"
            direction="y"
            data-tap-disabled="false">
        <div class="top-modal">
            <div ng-if="infoPlace.marker.valid_from || infoPlace.marker.valid_to" class="modal-subheader time">
                <span class="valid-time modal-subheader-item">
                    <i class="icon ion-android-time"></i>
                    <span ng-if="infoPlace.marker.valid_from">
                        {{'FROM'|translate}} {{infoPlace.marker.valid_from | date:'(HH:mm) dd/MM/yyyy'}}
                    </span>
                    <span ng-if="infoPlace.marker.valid_to && infoPlace.marker.valid_from"> - </span>
                    <span ng-if="infoPlace.marker.valid_to">
                        {{'TO'|translate}} {{infoPlace.marker.valid_to| date:'(HH:mm) dd/MM/yyyy'}}
                    </span>
                </span>
            </div>
            <div class="modal-subheader credits" ng-if="config.dev || currentType.show_author">
                {{'LAST_AUTHOR' | translate}}{{' '}}
                <span ng-if="infoPlace.marker.updater.display_name" class="username modal-subheader-item">
                    {{infoPlace.marker.updater.display_name}}
                </span>
            </div>
            <div class="modal-subheader">
                <span class="modal-subheader-item" ng-if="infoPlace.marker.last_activity || infoPlace.marker.last_update">
                    {{'LAST_ACTIVITY'|translate}} {{infoPlace.marker.last_activity || infoPlace.marker.last_update | prettyDate}} {{'AGO' |translate}}.
                </span>
                <span class="modal-subheader-item">{{"SUBSCRIBERS"|translate}} {{subscribers}} <i
                        class="icon ion-android-bookmark"></i></span>
                <span ng-if="members"><span class="modal-subheader-item">{{"MEMBERS"|translate}} {{members}} <i
                        class="icon ion-android-people"></i></span></span>
            </div>

            <div class="modal-subheader tag-list icon-list">
                <span class="icons">
                    <span ng-repeat="icon in infoPlace.marker.icons track by $index"
                          class="modal-subheader-item tag">
                        <i class="icon {{icon.icon}}" style="color:{{icon.color}}"></i>
                        <span>{{icon.name |translate}}</span>
                    </span>
                </span>
                <span class="tags">
                    <span ng-repeat="tag in infoPlace.marker.tags track by $index"
                          class="modal-subheader-item tag interactive"
                          on-tap="filter(tag,'tag')">
                          <!--style="background-color:{{infoPlace.marker.icons[0].color}};color:white;"> -->
                        <i class="ion-pricetag" style="color:{{infoPlace.marker.icons[0].color}};"></i>
                        {{tag}}
                    </span>
                </span>
            </div>
            <div ng-if="infoPlace.marker.link_url" class="modal-subheader">
                <span class="modal-subheader-item">
                    <a href="{{infoPlace.marker.link_url}}" target="_blank" class="modal-url">
                        <i class="icon ion-link"></i>
                        <span>{{infoPlace.marker.link_url}}</span>
                    </a>
                </span>
            </div>
            <!--<div ng-if="infoPlace.marker.name" class="content modal-content text-field">-->
                <!--{{infoPlace.marker.name}}-->
            <!--</div>-->
            <div ng-if="infoPlace.marker.description" class="content modal-content text-field">
                <h3 style="font-size: 1em;font-weight:500;color:#333;line-height: 1em;white-space: initial;">
                    {{infoPlace.marker.name}}
                </h3>
                {{infoPlace.marker.description}}
            </div>
            <!--<div ng-if="config.design.can_permalink && infoPlace.marker.self" id="modalPlacePermalink" class="content modal-url">-->
            <!--<a href="{{infoPlace.marker.self}}" target="_blank">-->
            <!--<i class="icon ion-link"/>-->
            <!--<span>{{'PERMALINK'|translate}}</span>-->
            <!--</a>-->
            <!--</div>-->
        </div>

        <modal-lists ng-if="infoPlace.marker" marker="infoPlace.marker" show="showMCardPlace(id)" add="addChildEntity()"
                     close="closeModal()"></modal-lists>

        <loader ng-if="!infoPlace.marker"></loader>

        <div ng-if="config.dev">
            <pre>{{infoPlace.marker | json}}</pre>
        </div>
    </ion-content>

    <!--<ion-footer-bar >-->
    <!--<div class="buttons right-buttons">-->
    <!--<entity-actions ng-if="infoPlace.marker.id" actions="currentType.actions" marker="infoPlace.marker" close="closeModal()" label="currentType.name" ></entity-actions>-->
    <!--</div>-->
    <!--<h1 class="title"></h1>-->
    <!--&lt;!&ndash;<div class="buttons left-buttons">&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="button button-stable button-clear icon ion-close-round" on-tap="closeModal()" ></button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</ion-footer-bar>-->
</div>