<div class="actions">
    <button class="button button-clear" title="{{subscribers}} {{'SUBSCRIBERS'|translate}}">
        {{subscribers}}
        <i class="icon ion-android-bookmark"></i>
    </button>
    <button ng-if="members !== null" class="button button-clear" title="{{members}} {{'MEMBERS'|translate}}">
        {{members}}
        <i class="icon ion-android-people"></i>
    </button>
    <button class="button button-clear" title="{{posts}} {{'POSTS'|translate}}">
        {{posts}}
        <i class="icon ion-chatbox-working"></i>
    </button>
    <button class="button button-clear" title="{{initiatives}} {{'INITIATIVES'|translate}}">
        {{initiatives}}
        <i class="icon ion-android-share-alt"></i>
    </button>
    <!--todo counter children-->
    <!--<button class="button button-clear"  title="{{contents}} {{'CONTENTS'|translate}}">-->
        <!--{{contents}}-->
        <!--<i class="icon ion-social-buffer"></i>-->
    <!--</button>-->
</div>