<div id="typeFilter">
    <button ng-repeat="category in filter.list track by $index"
        class="button {{category.shape}} entity-type" on-tap="toggle('entity_type',category.key)"
        ng-style="category.visible ? {'color':  '#fff', 'background' : colors[category.index]}:{'background': '#fff', 'color' : colors[category.index]}"
        ng-class="[(category.visible) ? 'active' : 'inactive']"
        title="{{category.name | translate}}">
        <i class="icon {{category.icon}}"></i>
        <span ng-if="!isMobile">{{category.name |translate}}</span>
    </button>
</div>