<ion-popover-view>
    <ion-content>
        <ion-list>
            <ion-item ng-if="config.actions.can_modify && checkPerms('u')" class="item-icon-left" on-tap="updateButtonPopover()">
                <i ng-if="config.actions.can_modify" class="icon ion-android-create"></i>
                Modifica
            </ion-item>
            <ion-item ng-if="config.actions.can_delete && checkPerms('d')" class="item-icon-left" on-tap="removeButtonPopover()">
                <i ng-if="config.actions.can_delete" class="icon ion-android-delete"></i>
                Cancella
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>