<div id="post-list" ng-if="posts.length > 0" class="linear-fastanimation fade-in">
    <!--<div class="item-divider">{{'POSTS' | translate}}</div>-->
    <div class="item" ng-repeat="post in posts |orderBy:'-timestamp_insert' track by $index">
        <post post="post"></post>
        <comments-list id="post.id"></comments-list>
    </div>
</div>

<!--<div ng-repeat="group in groups track by $index" ng-show="group.list.length > 0" ng-init="outerIndex=$index">-->

<!--<div ng-repeat="item in group.list | orderBy: '-timestamp' track by $index" class="list card textCard" ng-if="group.contentKeyType != 'image'" ng-show="toggle == outerIndex">-->
<!--<div class="item item-divider" ng-if="item.hasOwnProperty('title')">{{item['title']}}</div>-->
<!--<div class="item item-text-wrap">{{item[group.contentKey]}}</div>-->
<!--<div class="item item-footer">-->
<!--<span class="message"><span class="username">{{item.updater_display_name}}</span> {{'WHEN'|translate}} {{item.timestamp_insert| date: 'dd/MM/yyyy'}}</span>-->
<!--<div class="button-box">-->
<!--<button ng-if="user.id == item.owner"-->
<!--ng-click="edit(item.id,group.key,outerIndex)"-->
<!--class="button button-clear">-->
<!--<i class="icon ion-edit" style="color:#333;"></i>-->
<!--</button>-->
<!--<button ng-if="user.id == item.owner || user.id == owner" ng-click="delete(item.id,group.key,outerIndex)"-->
<!--class="button button-clear">-->
<!--<i class="icon ion-trash-b" style="color:#333;"></i>-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->