<ion-header-bar class="modal-header" >
    <div class="bar bar-header">
        <form id="ricerca" name="ricerca" class="item-input-wrapper">
            <i class="icon ion-android-search"></i>
            <input type="search" placeholder="{{'SEARCH_HINTS'| translate}}" ng-model="query" autofocus >
            <i ng-show="query.length > 0" ng-click="query = '' " class="icon ion-close"></i>
        </form>
    </div>
</ion-header-bar>
<ion-content class="modal-content">
    <div id="cronologia-box" ng-if="bufferSearch.toArray().length > 0">
        <div class="item item-divider">{{'SEARCH_CRONOLOGY'|translate}}</div>
        <div class="list card">
            <div class="icon-left ion-android-time item" ng-repeat="entry in crono |filter:'!null' track by $index" ng-click="restore($index)">
                {{entry}}
            </div>
        </div>
    </div>
    <search-results query="query" click="click" close="close"></search-results>
<!--
    
    <div class="item item-divider">
        {{'CURRENTLY_ON_MAP'|translate}} {{dataArray.length}} {{'ENTRIES'|translate}}
    </div>
    <div class="item" collection-repeat="marker in dataArray | orderBy: ['-last_update','name'] track by $index" >
        <div on-tap="click(marker)" class="item-text-wrap item">
            <i ng-repeat="icon in marker.icons" class="icon {{icon.icon}}"  style="color:{{icon.color}}">
            </i>
            {{marker.name}} 
        </div>
    </div>
-->
</ion-content>