<div class="list" id="simpleEntityList">
    <div class="button-bar button-bar-striped">
        <button class="button button-positive button-clear icon-left" ng-repeat="group in groups track by $index" on-tap="setToggle($index)" ng-class="toggle == $index ? 'selected' : '' ">
                <i class="{{group.icon}}"></i>
                <span ng-if="!isMobile">{{group.title|translate}}</span>
        </button>
    </div>
    <div class="item">
        <button class="button button-outline button-positive button-small button-block ion-plus-round" on-tap="add(groups[toggle].key)" ng-if="groups[toggle].enable">
            {{groups[toggle].label|translate}}
        </button>
    
        <div ng-repeat="group in groups track by $index" ng-show="group.list.length > 0" ng-init="outerIndex=$index">

            <div ng-repeat="item in group.list | orderBy: '-timestamp' track by $index" class="list card textCard" ng-if="group.contentKeyType != 'image'" ng-show="toggle == outerIndex">
                <div class="item item-divider" ng-if="item.hasOwnProperty('title')">{{item['title']}}</div>
                <div class="item item-text-wrap">{{item[group.contentKey]}}</div>
                <div class="item item-footer">
                    <span class="message"><span class="username">{{item.updater_display_name}}</span> {{'WHEN'|translate}} {{item.timestamp_insert| date: 'dd/MM/yyyy'}}</span>
                    <div class="button-box">
                        <button ng-if="user.id == item.owner"
                            ng-click="edit(item.id,group.key,outerIndex)"
                            class="button button-clear">
                            <i class="icon ion-edit" style="color:#333;"></i> 
                        </button>
                        <button ng-if="user.id == item.owner || user.id == owner" ng-click="delete(item.id,group.key,outerIndex)"
                                class="button button-clear">
                            <i class="icon ion-trash-b" style="color:#333;"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div ng-if="group.contentKeyType == 'image'" class="foto-box content" ng-show="toggle == outerIndex">
                <div class="row foto-mosaico" ng-repeat="image in group.list | orderBy: '-timestamp' track by $index" ng-if="$index % 4 === 0">
                    <div class="col col-25" ng-if="$index < group.list.length">
                        <img class="button" title="{{group.list[$index].title}}" ng-src="{{group.list[$index].thumbnail }}" width="100%" on-tap="openGallery($index, group.list)" />
                        <i ng-if="user.id == image.owner || user.id == owner" class="icon ion-trash-b" on-tap="delete(group.list[$index]['id'],group.key,outerIndex)"></i>
                    </div>
                    <div class="col col-25" ng-if="$index + 1 < group.list.length">
                        <img class="button" title="{{group.list[$index + 1].title}}" ng-src="{{group.list[$index + 1].thumbnail }}" width="100%"  on-tap="openGallery(($index + 1),group.list)" />
                        <i ng-if="user.id == image.owner || user.id == owner" class="icon ion-trash-b" on-tap="delete(group.list[$index + 1]['id'],group.key,outerIndex)"></i>
                    </div>
                    <div class="col col-25" ng-if="$index + 2 < group.list.length">
                        <img class="button" title="{{group.list[$index + 2].title}}" ng-src="{{group.list[$index + 2].thumbnail }}" width="100%" on-tap="openGallery(($index + 2),group.list)"  />
                        <i ng-if="user.id == image.owner || user.id == owner" class="icon ion-trash-b" on-tap="delete(group.list[$index + 2]['id'],group.key,outerIndex)"></i>
                    </div>
                    <div class="col col-25" ng-if="$index + 3 < group.list.length">
                        <img class="button" title="{{group.list[$index + 3].title}}" ng-src="{{group.list[$index + 3].thumbnail }}" width="100%" on-tap="openGallery(($index + 3),group.list)" />
                        <i ng-if="user.id == image.owner || user.id == owner" class="icon ion-trash-b" on-tap="delete(group.list[$index + 3]['id'],group.key,outerIndex)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>