<div id="time-controls" ng-class="isMobile ? 'mobile' : 'nomobile' " ng-if="!viewer">
    <button class="button-icon ion-arrow-left-b time-control" ng-class="isMobile ? 'button-float button-float-small' : '' " ng-click="rewind()"></button>
    <button class="button-icon ion-android-refresh reset time-control" ng-class="isMobile ? 'button-float button-float-small' : '' " ng-click="reset()"></button>
    <button class="button-icon ion-arrow-right-b time-control" ng-class="isMobile ? 'button-float button-float-small' : '' " ng-click="forward()"></button>
</div>
<div class="vertical-show ease-in-animation">
    <ion-scroll id="timeline" class="row"
                zooming="true"
                direction="x"  scrollbar-x="false"
                ng-swipe-right="forward()" 
                ng-swipe-left="rewind()" 
                on-scroll="scrolling()"
                ng-if="!viewer">
        <div ng-repeat="slot in timewindow track by $index"
             class="repeated-item col-md-4 {{slot.class}}"
             style="position:relative;"
             ng-class="now == $index ? 'current' : ''"
             title="{{slot.upLabel}}"
             ng-click="scaleDown(slot)">
            <div class="divider-label">{{slot.upLabel}}</div>
            <div class="label">{{slot.label | translate}}</div>
            <div class="entities" ng-init="c = counter(slot)">
                <span ng-repeat="(k, val) in slot.markers" 
                      ng-style="{'background':val.color,'width':(val.counter/slot.total)*100+'%'}">
                </span>
            </div>
        </div>
    </ion-scroll>
    <div id="buttons">
        <button class="button button-outline"
                ng-repeat="unit in units track by $index" 
                ng-show="$index <= indexDefaultUnit"
                ng-disabled="$index == indexDefaultUnit || viewer"
                ng-class="indexDefaultUnit == $index ? 'current-button button-light' : 'button-stable'"
                ng-click="scaleUpTo($index)">
            <span>{{unit.label| translate}}</span>
        </button>
        <span ng-if="!isMobile && !navbar && !flUri" class="applogo right"><img height="30" src="{{config.design.logo_viewer}}" alt="{{config.app_name}}"></span>
        <a ng-if="!isMobile && !navbar && flUri" class="applogo right" target="_blank" href="{{flUri}}">
            <img height="30" src="{{config.design.logo_viewer}}" alt="{{config.app_name}}">
        </a>
    </div>
</div>