<div id="treemapfilter" style="height:{{size.height}}px;width:{{size.width}}px;">
        <div class="ease-animation root" ng-repeat="space in cats track by $index" 
         style="left:{{space.rect[0]}};top:{{space.rect[1]}};width:{{space.rect[2]}};height:{{space.rect[3]}};background-color:{{space.color}};" 
         ng-style="back && (back == space.category_space) ? {height: '100%',width: '100%',top: '0px',left:'0px','z-index': '1'}:{height: space.rect[3],width: space.rect[2],top: space.rect[1],left:space.rect[0],'z-index': '0'}">
            <button class="backtoroot button button-light button-block button-clear" 
                    ng-if="back && (back == space.category_space)" 
                    on-tap="close()">
                <i class="icon ion-android-arrow-dropleft-circle"></i>
                {{space.name}}
            </button>
            <i class="legend" ng-if="!back" on-tap="changeFavCat(space.category_space)" class="icon medium-dark" ng-class="{'ion-android-star-outline': favCat != space.category_space, 'ion-android-star': favCat == space.category_space }"></i>
            <div class="rootlabel" on-tap="toggle(space)" class="button button-light button-block button-clear" ng-if="!back">
                <div class="label">
                    {{space.name}}
                </div>
            </div>
            <div class="child" ng-show="back && (back == space.category_space)">
                <div class="childblock" ng-repeat="cat in space.list track by $index" 
                     ng-style="{left:cat.rect[0],top:cat.rect[1],width:cat.rect[2],height:cat.rect[3],color: cat.visible ? 'white' : cat.color,background:cat.visible?cat.color:'#fff'}"
                     on-tap="toggleCat(space.name,cat[space.check])">
                    <i class="checker icon medium-dark" 
                       ng-class="{ 'ion-close-circled': !cat.visible, 'ion-checkmark-circled': cat.visible}" 
                       style="color:{{ cat.visible ? 'white' : cat.color }};"></i>
                    <button class="label button linear-animation" style="color:{{ cat.visible ? 'white' : cat.color }};">
                        <i class="icon {{cat.icon_name}}"></i>
                        {{cat.name}}
                    </button>
                </div>
        </div>
    </div>
<div>