<div id="treemapfilter" style="height:{{size.height}}px;width:{{size.width}}px;">
        <div class="ease-animation root" ng-repeat="space in cats track by $index" 
         style="left:{{space.rect[0]}};top:{{space.rect[1]}};width:{{space.rect[2]}};height:{{space.rect[3]}};"
         ng-style="back && (back == space.category_space) ? {height: '100%',width: '100%',top: '0px',left:'0px','z-index': '1'}:{height: space.rect[3],width: space.rect[2],top: space.rect[1],left:space.rect[0],'z-index': '0'}">
            <button class="backtoroot button button-light button-block button-clear" 
                    ng-if="back && (back == space.category_space)"
                    on-tap="close()">
                <i class="icon ion-android-arrow-dropleft"></i>
                {{space.name}}
            </button>
            <button class="button button-small button-clear legend icon ion-android-pin"
                    style="color:{{space.color}};{{favCat === space.category_space ? 'background-color:' + space.color+ ';':''}}"
                    ng-class="{'selected': favCat === space.category_space }"
                    ng-if="!back"
                    on-tap="iconToggle(space.category_space)">
            </button>
            <div class="rootlabel" on-tap="toggle(space)" class="button button-light button-block button-clear" >
                <div class="label" style="box-shadow:inset 4px 4px 0px {{space.color}}, inset -4px -4px 0px {{space.color}};">
                    {{space.name}}
                </div>
            </div>
            <div class="child" ng-show="back && (back == space.category_space)">
                <div class="childblock"
                     ng-repeat="cat in space.list track by $index"
                     ng-style="{left:cat.rect[0],top:cat.rect[1],width:cat.rect[2],height:cat.rect[3],'box-shadow':'inset 4px 4px 0px '+cat.color+',inset -4px -4px 0px '+cat.color}"
                     on-tap="toggleCat(space.name,cat[space.check])"
                     ng-class="{'selected': toggled[space.name][cat[space.check]] }">
                    <i class="checker icon medium-dark fast-ease-in-out-animation"
                       ng-class="{ 'ion-ios-close-empty': !toggled[space.name][cat[space.check]], 'ion-ios-checkmark-empty': toggled[space.name][cat[space.check]]}"
                       style="{{toggled[space.name][cat[space.check]] ? 'color:'+cat.color+';':''}}"></i>
                    <button class="label button fast-ease-in-out-animation icon {{cat.icon_name}}"
                            style="{{toggled[space.name][cat[space.check]] ? 'color:'+cat.color+';':''}}">
                        <span class="text">{{cat.name}}</span>
                    </button>
                </div>
        </div>
    </div>
<div>