<div style="height:{{size.height}}px;width:{{size.width}}px;overflow: hidden; position: relative;">
        <div class="ease-animation" ng-repeat="space in cats track by $index" 
         style="border:1px solid #fefefe;position:absolute;left:{{space.rect[0]}};top:{{space.rect[1]}};width:{{space.rect[2]}};height:{{space.rect[3]}};background-color:{{colors[$index]}}" 
         ng-click="toggle(space)"
         ng-style="back && (back == space.category_space) ? {height: '100%',width: '100%',top: '0px',left:'0px','z-index': '1'}:{height: space.rect[3],width: space.rect[2],top: space.rect[1],left:space.rect[0],'z-index': '0'}">
            <button style="position:absolute;color:white;" class="button button-light button-block button-clear icon icon-right ion-close-circled" ng-if="back && (back == space.category_space)" on-tap="close()">{{space.name}}</button>
            <div style="position:absolute;color:white;" class="button button-light button-block button-clear" ng-if="!back">{{space.name}}</div>
            <div ng-show="back && (back == space.category_space)">
                <button class="button button-outline button-light linear-animation" ng-repeat="cat in space.categories track by $index" 
                     style="color:white;background-color:{{colors[cat.category_index]}};position:absolute;left:{{cat.rect[0]}};top:{{cat.rect[1]}};width:{{cat.rect[2]}};height:{{cat.rect[3]}};"
                        on-tap="catToggle(cat)">
                    <i class="icon {{cat.icon_name}}"></i>
                    {{cat.name}}
                </button>
        </div>
    </div>
<div>
    
    <!--  ng-show="back && (back == space.category_space)" style="height:{{size.height-67}}px;top:67px;width:{{size.width}}px;overflow: hidden; position: relative;"-->