<div class="post item" ng-class="{'inappropriate' : post.inappropriate, 'highlight' : highlight, 'item-thumbnail-left': post.image_thumbnail}">
    <img ng-if="post.image_thumbnail" ng-src="{{ highlight ? post.image_url: post.image_thumbnail }}" width="100%" class="fast-ease-in-out-animation"  on-tap="togglePicture()"/>
    <div class="postbody">
        <div class="title" ng-if="post.title">{{post.title}}</div>
        <div class="text item-text-wrap" ng-if="post.message">{{post.message}}</div>
        <div class="ext_ref" ng-if="post.ext_ref">
            <i class="icon ion-link positive"></i>
            <a href="{{post.ext_ref}}" target="_blank">
                {{post.ext_ref}}
            </a>
        </div>
        <div ng-if="post.tags && post.tags.length > 0" class="tags">
            <span ng-repeat="entry in post.tags track by $index" class="tag ion-pricetag">{{entry.tag}}</span>
        </div>
        <div class="credits item-text-wrap">
            {{'CONTRIBUTE_OF'|translate}} <span class="username">{{post.owner.display_name}}</span>,  {{post.timestamp_insert | date : 'd/MM/yyyy'}}
        </div>
    </div>
</div>