<div id="posteditor" class="item">
    <div class="title">
        {{'CREATE_POST'|translate}}
        <button ng-show="focus" type="reset" class="right button button-dark button-clear button-small button-float-small icon ion-android-close linear-fastanimation fade-in" on-tap="clear()" ></button>
    </div>
    <form name="form.post" novalidate>
        <div class="cover" ng-show="loading" ng-init="loading = false"><ion-spinner icon="android"></ion-spinner></div>
        <div class="row">
            <div class="col col-25">
                <picture-loader images="post.filedata" class="focus"></picture-loader>
            </div>
            <div class="col">
                <label class="item item-input">
                    <input type="text" name="title" ng-model="post.title" placeholder="{{'POSTEDITOR_TITLE_PLACEHOLDER'|translate}}" ng-minlength="3" ng-maxlength="50">
                </label>
                <label class="item item-input item-floating-label">
                    <textarea name="message" placeholder="{{'POSTEDITOR_PLACEHOLDER' |translate}}" rows="4" ng-model="post.message" ng-minlength="5" maxlength="1000" autogrow></textarea>
                </label>
            </div>
        </div>
        <div class="linear-fastanimation fade-in"ng-show="focus">
            <div>
                <tags-input ng-model="post.tags" display-property="tag" placeholder="{{'POSTEDITOR_TAGS_PLACEHOLDER' |translate}}" replace-spaces-with-dashes="false"></tags-input>
            </div>
            <div id="posteditor-controls">
                <button type="submit" class="right button button-positive button-small icon ion-checkmark-round" on-tap="publish()" ng-disabled="(!post.message && !post.filedata)">{{'PUBLISH'|translate}}</button>
            </div>
        </div>
    </form>
</div>