<div class="post item item-thumbnail-left" ng-class="{'inappropriate' : post.inappropriate}">
    <img src="{{post.image_thumbnail}}" width="100%"/>
    <i class="icon ion-images imgbg"></i>
    <div class="title" ng-if="post.title">{{post.title}}</div>
    <div class="text item-text-wrap" ng-if="post.message">{{post.message}}</div>
    <div ng-if="post.tags && post.tags.length > 0" class="tags">
        <span ng-repeat="entry in post.tags track by $index" class="tag ion-pricetag">{{entry.tag}}</span>
    </div>
    <div class="credits">
        {{'CONTRIBUTE_OF'|translate}} <span class="username">{{post.owner_display_name}}</span>,  {{post.timestamp_insert | date : 'd/MM/yyyy'}}
    </div>
</div>