<ion-modal-view ng-controller="ImagesCtrl">
    <ion-header-bar class="modal-header" >
        <h1 class="title title-modal">{{infoPlace.marker.name}}</h1>
        <div class="buttons">
            <button ng-if="isLoggedIn && (checkPerms['u']||checkPerms['d'])" class="button button-clear icon ion-android-more-vertical" on-tap="openPopover($event)"></button>
        </div>
    </ion-header-bar>
    <ion-content scroll-event-interval="10">
        <div class="top-modal">
            <div ng-if="infoPlace.marker.category || infoPlace.marker.type_info" class="modal-subheader">
                <span ng-repeat="icon in infoPlace.marker.icons" class="modal-subheader-item">
                    <i class="icon {{icon.icon}}"  style="color:{{icon.color}}"></i>
                    <span ng-if="!isMobile">{{icon.name |translate}}</span>
                </span>

                <span class="modal-subheader-item" ng-if="!currentType.disable_comments" ng-show="infoPlace.marker.comments">
                    <i class="icon ion-chatbox-working"></i>{{infoPlace.marker.comments.length}}
                    <span ng-if="!isMobile">{{'COMMENTS'|translate}}</span>
                </span>
                <members-counter id="infoPlace.marker.id" details="infoPlace.marker.type_info.properties.members" ng-if="infoPlace.marker.type_info.properties.members"></members-counter>

            </div>
            <div class="modal-subheader">
                <span class="message">
                    {{'LAST_UPDATE_MESSAGE'|translate}} {{infoPlace.marker.last_update | date:'dd/MM/yyyy (hh:mm)'}} 
                    <span ng-if="infoPlace.marker.display_name">
                        {{'BY_USER'|translate}} <span class="username">{{infoPlace.marker.display_name}}</span> 
                    </span> 
                </span> 
            </div>
            <div ng-if="infoPlace.marker.valid_from || infoPlace.marker.valid_to" class="content">
                <i class="icon ion-android-time"></i>
                <span ng-if="infoPlace.marker.valid_from">{{'FROM'|translate}} {{infoPlace.marker.valid_from | date:'dd/MM/yyyy (hh:mm)'}}</span>
                <span ng-if="infoPlace.marker.valid_to && infoPlace.marker.valid_from"> - </span>
                <span ng-if="infoPlace.marker.valid_to">{{'TO'|translate}} {{infoPlace.marker.valid_to| date:'dd/MM/yyyy (hh:mm)'}}</span>
            </div>
            <div ng-if="infoPlace.marker.description" class="content modal-content description-field">
                {{infoPlace.marker.description}}
            </div>
            <div ng-if="infoPlace.marker.text" class="content modal-content text-field">
                {{infoPlace.marker.text}}
            </div>
            <div ng-if="infoPlace.marker.message_text" class="content modal-content text-field">
                {{infoPlace.marker.message_text}}
            </div>
            <div id="modalPlaceLink" ng-if="infoPlace.marker.link_url" class="content modal-url">

                <a href="{{infoPlace.marker.link_url}}" target="_blank">
                    <i class="ion-link"/>
                    <span>{{infoPlace.marker.link_url}}</span>
                </a>
            </div>
            <div ng-if="config.design.can_permalink && infoPlace.marker.self" id="modalPlacePermalink" class="content modal-url">
                <a href="{{infoPlace.marker.self}}" target="_blank">
                    <i class="ion-link"/>
                    <span>{{'PERMALINK'|translate}}</span>
                </a>
            </div>
            <div class="tag-list content" ng-if="infoPlace.marker.tags.length > 0" >
                <span class="tags">
                    <span ng-repeat="tag in infoPlace.marker.tags track by $index" class="tag" style="background-color:{{infoPlace.marker.category.color}};color:white;">
                        <!-- bug da sistemare causato dal modulo tag, stampo l'oggetto -->
                        <i class="ion-pricetag"/>
                        {{isString(tag) ? tag : tag.tag}}
                        <span></span>
                    </span>

                </span>
            </div>
            
             <simple-entity-list id="infoPlace.marker.id" owner="infoPlace.marker.user"></simple-entity-list>

        </div>
        
        <entity-relations marker="infoPlace.marker" click="showMCardPlace"></entity-relations>
        
        <actions actions="currentType.actions" id="infoPlace.marker.id" close="closeModalPlace" label="currentType.name" reset="reset" ng-init="reset = false"></actions>
        
        <members-list id="infoPlace.marker.id" details="infoPlace.marker.type_info.properties.members" ng-if="infoPlace.marker.type_info.properties.members"></members-list>

        <relations-actions relations="config.types.relations[infoPlace.marker.entity_type]" callback="addChildEntity" label="currentType.name" id="infoPlace.marker.id" reset="reset"></relations-actions>

        <div ng-if="config.dev"><pre>{{infoPlace.marker | json}}</pre></div>
    </ion-content>

    <ion-footer-bar class="bar-light">
        <div ng-if="isLoggedIn" class="buttons right-buttons">
            <!-- mobile -->
            <button ng-if="config.actions.can_foto && isMobile && !currentType.disable_immages && false" class="button button-positive button-clear icon ion-camera" on-tap="loadCamera()">
                <span ng-if="!isMobile">{{'CAMERA'|translate}}</span>
            </button>

            <button ng-if="config.actions.can_foto && isMobile && !currentType.disable_immages && false" class="button button-positive button-clear icon ion-images" on-tap="imagePicker()">
                <span ng-if="!isMobile">{{'GALLERY'|translate}}</span>
            </button>
            <!-- desktop --> 
            <div ng-if="config.actions.can_foto && !currentType.disable_immages" id="fileUpload" class="button button-positive button-clear icon ion-camera">
                <span  ng-if="!isMobile">{{'PICTURE'|translate}}</span>          
                <input id="input-fileUpload" type="file" ng-model="file" name="file" base-sixty-four-input accept="image/*" onload="onLoad" >
            </div> 
            <button ng-if="isLoggedIn && !currentType.disable_comments" class="button button-positive button-clear icon ion-android-textsms" on-tap="openCommentBox()">
                <span ng-if="!isMobile">{{'COMMENT'|translate}}</span>
            </button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons left-buttons">
            <button class="button button-stable button-clear icon ion-close-round" on-tap="closeModalPlace()" ></button>
        </div>
    </ion-footer-bar>

</ion-modal-view>

