<ion-modal-view on-swipe-left="closeModalPlace()" on-swipe-right="closeModalPlace()" ng-controller="ImagesCtrl">
    <ion-header-bar class="modal-header" >
        <h1 class="title title-modal">{{infoPlace.marker.name}}</h1>
        <div class="buttons">
            <button ng-if="isLoggedIn && (checkPerms['u']||checkPerms['d'])" class="button button-clear icon ion-android-more-vertical" on-tap="openPopover($event)"></button>
        </div>
    </ion-header-bar>
    <ion-content scroll-event-interval="10">
        <div class="top-modal">
            <div ng-if="infoPlace.marker.category || infoPlace.marker.type_info" class="modal-subheader">
                <span ng-repeat="icon in infoPlace.marker.icons" class="modal-subheader-item">
                    <i class="icon {{icon.icon}}"  style="color:{{icon.color}}"></i>
                    <span ng-if="!isMobile">{{icon.name |translate}}</span>
                </span>
                
                <span class="modal-subheader-item" ng-if="!currentType.disable_comments" ng-show="infoPlace.marker.comments">
                    <i class="icon ion-chatbox-working"></i>{{infoPlace.marker.comments.length}}
                    <span ng-if="!isMobile">{{'COMMENTS'|translate}}</span>
                </span>
            </div>
            <div class="content modal-content">
                <span class="message">
                    {{'LAST_UPDATE_MESSAGE'|translate}} {{infoPlace.marker.last_update | date:'dd/MM/yyyy (hh:mm)'}} 
                    <span ng-if="infoPlace.marker.display_name">
                        {{'BY_USER'|translate}} <span class="username">{{infoPlace.marker.display_name}}</span> 
                    </span> 
                </span> 
            </div>
            <div ng-if="infoPlace.marker.description" class="content modal-content description-field">
                {{infoPlace.marker.description}}
            </div>
            <div ng-if="infoPlace.marker.text" class="content modal-content text-field">
                {{infoPlace.marker.text}}
            </div>
            <div ng-if="infoPlace.marker.message_text" class="content modal-content text-field">
                {{infoPlace.marker.message_text}}
            </div>
            <div ng-if="infoPlace.marker.valid_from || infoPlace.marker.valid_to" class="content modal-content">
                <span ng-if="infoPlace.marker.valid_from">{{'FROM'|translate}} {{infoPlace.marker.valid_from | date:'dd/MM/yyyy (hh:mm)'}}</span>
                <span ng-if="infoPlace.marker.valid_to && infoPlace.marker.valid_from"> - </span>
                <span ng-if="infoPlace.marker.valid_to">{{'TO'|translate}} {{infoPlace.marker.valid_to| date:'dd/MM/yyyy (hh:mm)'}}</span>
            </div>
            
            <div id="modalPlaceLink" ng-if="infoPlace.marker.link_url" class="content modal-url">

                <a href="{{infoPlace.marker.link_url}}" target="_blank">
                    <i class="ion-link"/>
                    <span>{{infoPlace.marker.link_url}}</span>
                </a>
            </div>
            <div ng-if="config.design.can_permalink && infoPlace.marker.self" id="modalPlacePermalink" class="content modal-url">
                <a href="{{infoPlace.marker.self}}" target="_blank">
                    <i class="ion-link"/>
                    <span>{{'PERMALINK'|translate}}</span>
                </a>
            </div>
            <div class="tag-list content" ng-if="infoPlace.marker.tags.length > 0" >
                <span class="tags">
                    <span ng-repeat="tag in infoPlace.marker.tags track by $index" class="tag" style="background-color:{{infoPlace.marker.category.color}};color:white;">
                        <!-- bug da sistemare causato dal modulo tag, stampo l'oggetto -->
                        <i class="ion-pricetag"/>
                        {{isString(tag) ? tag : tag.tag}}
                        <span></span>
                    </span>

                </span>
            </div>
            <div ng-if="config.actions.can_foto || config.design.show_thumbs" ng-show="isPendingImages || (images.length > 0)" id="area-foto" class="content">
                <div ng-show="config.actions.can_foto && isPendingImages" class="foto-box">
                    <div class="row foto-mosaico" ng-repeat="image in imageCache" ng-if="$index % 4 === 0">
                        <div class="col col-25" ng-if="$index < imageCache.length">
                            <img data-ng-src="data:image/png;base64,{{imageCache[$index].base64}}" width="100%" /> 
                            <i class="icon ion-close-round" on-tap="removeImage($index)"></i>
                        </div>
                        <div class="col col-25" ng-if="$index + 1 < imageCache.length">
                            <img data-ng-src="data:image/png;base64,{{imageCache[$index + 1].base64}}" width="100%" /> 
                            <i class="icon ion-close-round" on-tap="removeImage($index)"></i>
                        </div>
                        <div class="col col-25" ng-if="$index + 2 < imageCache.length">
                            <img data-ng-src="data:image/png;base64,{{imageCache[$index + 2].base64}}" width="100%" /> 
                            <i class="icon ion-close-round" on-tap="removeImage($index)"></i>
                        </div>
                        <div class="col col-25" ng-if="$index + 3 < imageCache.length">
                            <img data-ng-src="data:image/png;base64,{{imageCache[$index + 3].base64}}" width="100%" /> 
                            <i class="icon ion-close-round" on-tap="removeImage($index)"></i>
                        </div>
                    </div>
                </div>
                {{images}}
                <div ng-if="config.design.show_thumbs" class="foto-box">
                    <div class="row foto-mosaico" ng-repeat="image in images" ng-if="$index % 4 === 0">
                        <div class="col col-25" ng-if="$index < images.length">{{images}}
                            <img class="button" title="{{images[$index].title}}" ng-src="{{images[$index].url}}" width="100%" ng-click="loadGallery(infoPlace.marker.id, images[$index].position, infoPlace.marker.entity_type)" />
                        </div>
                        <div class="col col-25" ng-if="$index + 1 < images.length">
                            <img class="button" title="{{images[$index + 1].title}}" ng-src="{{images[$index + 1].url}}" width="100%"  ng-click="loadGallery(infoPlace.marker.id, images[$index + 1].position, infoPlace.marker.entity_type)" />
                        </div>
                        <div class="col col-25" ng-if="$index + 2 < images.length">
                            <img class="button" title="{{images[$index + 2].title}}" ng-src="{{images[$index + 2].url}}" width="100%" ng-click="loadGallery(infoPlace.marker.id, images[$index + 2].position, infoPlace.marker.entity_type)"  />
                        </div>
                        <div class="col col-25" ng-if="$index + 3 < images.length">
                            <img class="button" title="{{images[$index + 3].title}}" ng-src="{{images[$index + 3].url}}" width="100%"  ng-click="loadGallery(infoPlace.marker.id, images[$index + 3].position, infoPlace.marker.entity_type)" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="relazioni" class="list">
                <div class="parent_relation" ng-if="!isEmpty(infoPlace.marker.relations.parents)" 
                     ng-repeat="(key,parentRel) in infoPlace.marker.relations.parents">
                    <div ng-show="parentRel.list.length > 0">
                        <div class="item item-divider">{{parentRel.label |translate}}</div>
                        <div class="item item-icon-left" ng-repeat="parent in parentRel.list track by $index"  ng-click="showMCardPlace(parent)">
                            <i ng-if="parent.category" class="icon {{parent.category.icon}}"  style="color:{{parent.category.color}}"></i>
                            {{parent.name}}
                        </div>
                    </div>
                </div>
                <div class="child_relation" ng-if="!isEmpty(infoPlace.marker.relations.children)" 
                     ng-repeat="(key,childRel) in infoPlace.marker.relations.children">
                    <div ng-show="childRel.list.length > 0">
                        <div class="item item-divider">{{childRel.childrenLabel |translate}}</div>
                        <div class="item item-icon-left" ng-repeat="child in childRel.list track by $index"  ng-click="showMCardPlace(child)">
                            <i ng-if="child.category" class="icon {{child.category.icon}}"  style="color:{{child.category.color}}"></i>
                            {{child.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ion-list ng-show="infoPlace.marker.comments.length > 0" class="content modal-content" id="box-commenti">
            <ion-item class="item-divider">{{'COMMENTS'|translate}}</ion-item>
            <ion-item ng-repeat="comment in infoPlace.marker.comments | orderBy:'-timestamp' track by $index" class="item-button-right">
                <button ng-if="user.id == comment.user" ng-click="deleteComment(comment.comment_id)" class="button button-clear">
                    <i class="icon ion-close-round"></i> 
                </button>
                
                <div>
                    <span ng-if="comment.display_name" class="username">{{comment.display_name}}</span>
                    <span ng-if="comment.timestamp" class="message"> {{'WHEN'|translate}} {{comment.timestamp | date:'dd/MM/yyyy (hh:mm)'}}</span>
                </div>
                <pre>{{comment.message}}</pre>
                
            </ion-item>
        </ion-list>
        <div ng-if="config.dev"><pre>{{infoPlace.marker | json}}</pre></div>
    </ion-content>

<ion-footer-bar class="bar-light">
    <div ng-if="isLoggedIn" class="buttons right-buttons">
        <!-- mobile -->
        <button ng-if="config.actions.can_foto && isMobile && !currentType.disable_immages && false" class="button button-positive button-clear icon ion-camera" on-tap="loadCamera()">
            <span ng-if="!isMobile">{{'CAMERA'|translate}}</span>
        </button>

        <button ng-if="config.actions.can_foto && isMobile && !currentType.disable_immages && false" class="button button-positive button-clear icon ion-images" on-tap="imagePicker()">
            <span ng-if="!isMobile">{{'GALLERY'|translate}}</span>
        </button>
        <!-- desktop --> 
        <div ng-if="config.actions.can_foto && !currentType.disable_immages" id="fileUpload" class="button button-positive button-clear icon ion-camera">
            <span  ng-if="!isMobile">{{'PICTURE'|translate}}</span>          
            <input id="input-fileUpload" type="file" ng-model="file" name="file" base-sixty-four-input accept="image/*" onload="onLoad" >
        </div> 
        <button ng-if="isLoggedIn && !currentType.disable_comments" class="button button-positive button-clear icon ion-android-textsms" on-tap="openCommentBox()">
            <span ng-if="!isMobile">{{'COMMENT'|translate}}</span>
        </button>
        <button ng-repeat="type in config.types.relations[infoPlace.marker.entity_type]" class="button button-positive button-clear icon {{type.icon}}" on-tap="addChildEntity(type.slug,type.rel.slug)" >
            <span ng-if="!isMobile">{{type.name|translate}}</span>
        </button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons left-buttons">
        <button ng-show="isPendingImages" ng-click="sendPhoto(infoPlace.marker.id, infoPlace.marker.entity_type)" class="button button-positive button-clear icon ion-upload">
            <span  ng-if="!isMobile">{{'SAVE'|translate}}</span>
        </button>
        <button class="button button-stable button-clear icon ion-close-round" on-tap="closeModalPlace()" ></button>
    </div>
</ion-footer-bar>

</ion-modal-view>

