<div ng-show="!images" id="pictureloader">
    <div class="button button-clear"
            ng-if="config.actions.can_foto && isMobile"
            on-tap="loadCamera()">
        <i class="icon ion-images"></i>
        <div ng-if="!isMobile">{{'CAMERA'|translate}}</div>
    </div>
    <!--<button class="button button-outline button-positive button-small ion-images"-->
            <!--ng-if="config.actions.can_foto && isMobile"-->
            <!--on-tap="imagePicker()">-->
        <!--<span>{{'GALLERY_BUTTON'|translate}}</span>-->
    <!--</button>-->
    <div class="button button-clear"
         ng-if="true || config.actions.can_foto" id="fileUpload">
        <div class="col col-center col-100">
            <i class="icon ion-android-add"></i>
            <div title="{{'LOAD_FOTO'|translate}}"><i class="icon ion-images"></i></div>
        </div>
        <form name="loader.box" style="padding:0px;">
            <input id="input-fileUpload" type="file"
                   maxsize="5000"
                   ng-model="file"
                   name="file"
                   base-sixty-four-input
                   do-not-parse-if-oversize
                   accept=".gif, .jpg, .jpeg, .png"
                   onload="onLoad"
                   onerror="errorHandler" >
            <!--<input id="input-fileUpload"-->
                   <!--type="file"-->
                   <!--accept="image/*"-->
                   <!--ng-model="file"-->
                   <!--image="file"-->
                   <!--resize-max-height="800"-->
                   <!--resize-max-width="800"-->
                   <!--resize-quality="0.7"-->
                   <!--resize-type="image/jpg"-->
                   <!--ng-image-compress-->
                   <!--base-sixty-four-input-->
                   <!--onload="onLoad"/>-->
            <!--<img ng-src="{{image1.compressed.dataURL}}" />-->
        </form>
    </div>
</div>
<div id="foto-box" ng-show="images">
    <img data-ng-src="{{images}}" width="100%" />
    <i class="icon ion-close-round" on-tap="resetimages()"></i>
</div>
<!--<span ng-show="loader.box.file.$error.maxsize" class="content assertive fast-linear-animation">{{'ERROR'|translate}}: {{'PICTURE_DISCLAIMER'|translate}}</span>-->