<ion-modal-view id="wall" on-swipe-left="closeWall()" on-swipe-right="closeWall()">
    <ion-header-bar class="modal-header" >
        <div class="bar bar-header">
            <form id="ricerca" name="ricerca" class="item-input-wrapper" ng-init="searchName = ''">
                <i class="icon ion-android-search"></i>
                <input type="search" placeholder="Cerca" ng-model="searchName">
                <i ng-show="searchName.length > 0" ng-click="searchName = '' " class="icon ion-close"></i>
            </form>
        </div>
    </ion-header-bar>
    <ion-content class="modal-content">
        <ion-list>
            <div ng-repeat="marker in markersFilteredArray | orderBy:['name'] |filter:searchName">
                <ion-item ng-init="loadChildren(marker)" ng-click="clickWallItem(marker)">
                    <i ng-if="marker.type_info" class="icon {{marker.type_info.icon}}"  style="color:{{marker.type_info.color}}"></i>
                    <i ng-if="marker.icon && marker.icon.icon != marker.type_info.icon" class="icon {{marker.icon.icon}}"  style="color:{{marker.icon.color}}"></i>
                    {{marker.name}}
                    <div class="sublist" ng-show="markerChildren[marker.id]">
                        <div class="sublist-block" ng-repeat="(key, rel) in markerChildren[marker.id]">
                            <div class="sublist-title">
                                {{rel.childrenLabel}}
                            </div>
                            <div class="sublist-item" ng-repeat="c in rel.list">  
                                <i ng-if="c.type_info" class="icon {{c.type_info.icon}}"  style="color:{{c.type_info.color}}"></i>
                                <i ng-if="c.icon && c.icon != c.type_info.icon" class="icon {{c.icon.icon}}"  style="color:{{c.icon.color}}"></i>
                                {{c.name}}
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-stable button-outline icon ion-arrow-down-b" on-tap="closeWall()" ></button>
        </div>
    </ion-footer-bar>
</ion-modal-view>