<div ng-if="role" ng-show="membersList.length > 0" class="list card">
    <div ng-repeat="member in membersList | filter:{username:''} track by $index " class="item item-button-right">
        <button style="color:#333" ng-if="user.id == owner && member.id != owner" ng-click="deleteMember(member.id)" class="button button-clear">
            <i class="icon ion-android-cancel"></i> 
        </button>
        <div>
            <span ng-if="member.username" class="username">{{member.username}}</span>
        </div>
    </div>
</div>