<ion-modal-view id="notifications">
    <ion-header-bar class="modal-header" >
        <h1 class="title title-modal">{{'NOTIFICATION_TITLE'|translate}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="content" ng-show="news.length == 0">
            <p>{{'NOTHING_TO_SEE'|translate}}</p>
        </div>
        <div class="content clear" ng-show="news.length > 0">
                {{'LAST_CHECK'|translate}} {{last|date:'hh:mm'}}
                <button class="button button-clear" ng-click="clear()"><i class="icon ion-android-done-all"></i></button>
        </div>
        <div class="list" ng-show="news.length > 0">
            <div class="card item item-text-wrap notification" 
                 ng-repeat="n in news | orderBy:['-timestamp'] track by $index"
                 ng-class="{'highlight' : n.new}">
                <div ng-click="go(n)" class="">
                    <span class="username">{{n.subject_label}}</span> 
                    <span class="action">{{n.message |translate}}</span>
                    <span class="link">{{n.object_label}}</span>
                </div>
                <button class="button button-icon ion-checkmark-round" ng-click="consume(n)"></button>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-dark button-outline item-button ion-close-round" on-tap="close()" >
                <span ng-if="!isMobile">{{'CLOSE'|translate}}</span>
            </button>
        </div>
    </ion-footer-bar>
</ion-modal-view>