<div id="add-child" class="item item-button-right">
    {{'ADDCHILD'|translate}}
    <button class="button button-positive" ng-click="add()">
        <i class="icon ion-plus-round"></i>
    </button>
</div>
<div id="children">
    <div class="cover" ng-show="loading"><ion-spinner icon="android"></ion-spinner></div>
    <nothing-to-read ng-if="!loading && !ok"></nothing-to-read>
    <div class="parent_relation" ng-if="relations.parents.length > 0"
         ng-repeat="parent in relations.parents">
        <div class="item item-divider">{{parent.label |translate}}</div>
        <div class="item item-button-right">
            <i class="icon {{parent.marker.icons[0].icon}}"  style="color:{{parent.marker.icons[0].color}}"></i>
            {{parent.marker.name}}
            <button class="button button-positive" on-tap="click(parent.marker.id)">
                <i class="icon ion-android-search"></i>
            </button>
        </div>
    </div>
    <div class="child_relation" ng-if="!isEmpty(relations.children)"
         ng-repeat="children in relations.children">
        <div ng-show="children.markers.length > 0">
            <div class="item item-divider">{{children.childrenLabel |translate}}</div>
            <div class="item item-button-right" ng-repeat="child in children.markers track by $index" >
                <i class="icon {{child.icons[0].icon}}"  style="color:{{child.icons[0].color}}"></i>
                {{child.name}}
                <button class="button button-positive" on-tap="click(child.id)">
                    <i class="icon ion-android-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>