<info-bar ng-if="editMode"></info-bar>
<leaflet
        ng-if="map.loaded"
        id="mymap"
        width="100%"
        height="100%"
        center="map.center"
        url-hash-center="yes"
        bounds="map.bounds"
        defaults="map.defaults"
        controls="map.controls"
        markers-watch-options="map.watch"
        layers="map.layers"
        event-broadcast="map.events"
></leaflet>
<div id="pointer" class="padding" ng-if="editMode" style="z-index: 9999">
    <div class='pin' on-tap="getLocation()"><i class="icon ion-checkmark-circled positive"></i></div>
    <!--<div class='pulse'></div>-->
    <button class="floating-button button-small zoomin button button-icon light ion-plus-round" on-tap="zoomIn()" ng-disabled="z === maxZoom"></button>
    <button class="floating-button button-small zoomout button button-icon light ion-minus-round" on-tap="zoomOut()" ng-disabled="z === minZoom"></button>
</div>
<!--<thing-modal></thing-modal>-->
<wall></wall>