<ion-popover-view id="comment-menu">
    <ion-content>
        <div class="list">
            <div class="item item-button-right">
                {{"REPORT_COMMENT"|translate}}
                <button class="button button-positive" ng-click="reportComment(current)">
                    <i class="icon ion-alert"></i>
                </button>
            </div>
            <div class="item item-button-right" ng-if="config.actions.can_delete && checkPerms['u']">
                {{"UPDATE_COMMENT"|translate}}
                <button class="button button-positive" ng-click="updateComment(current)">
                    <i class="icon ion-android-create"></i>
                </button>
            </div>
            <div class="item item-button-right" ng-if="config.actions.can_modify && checkPerms['d']">
                {{"DELETE_COMMENT"|translate}}
                <button class="button button-positive" ng-click="deleteComment(current)">
                    <i class="icon ion-android-delete"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-popover-view>