.category-0{ color: white; background-color: #1f77b4;}
.category-1{ color: white; background-color: #aec7e8;}
.category-2{ color: white; background-color: #ff7f0e;}
.category-3{ color: white; background-color: #ffbb78;}
.category-4{ color: white; background-color: #2ca02c;}
.category-5{ color: white; background-color: #98df8a;}
.category-6{ color: white; background-color: #d62728;}
.category-7{ color: white; background-color: #ff9896;}
.category-8{ color: white; background-color: #9467bd;}
.category-9{ color: white; background-color: #c5b0d5;}
.category-10{ color: white; background-color: #8c564b;}
.category-11{ color: white; background-color: #c49c94;}
.category-12{ color: white; background-color: #e377c2;}
.category-13{ color: white; background-color: #f7b6d2;}
.category-14{ color: white; background-color: #7f7f7f;}
.category-15{ color: white; background-color: #c7c7c7;}
.category-16{ color: white; background-color: #bcbd22;}
.category-17{ color: white; background-color: #dbdb8d;}
.category-18{ color: white; background-color: #17becf;}
.category-19{ color: white; background-color: #9edae5;}