/* Empty. Add your own CSS if you like 


.fixed-outside{
    position: absolute;
    bottom: 0;
    color:white;
    width: 100%;
    height:  120px;
    text-align:center;
}
.has-bottom {
    padding-bottom:100px !important;
}

.button-circle {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}*/


.button-float {
    background: #FC4A00 !important;
    opacity: 1;
    color: white !important;
    z-index: 12 !important;
    /*position: absolute !important;
    bottom: 10px !important;
    right: 10px !important;*/
    min-width: 50px;
    min-height: 49px;
    border-radius: 50% !important;
    border-color:#FC4A00;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
}



.button-float:hover {
    -webkit-transform: translate3d(0, -1px, 0) !important;
    transform: translate3d(0, -1px, 0) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    /*background: #e42112 !important;*/
    opacity: 1;
}


.button-float-small {
    color:#444 !important;
    border-color:#fbfbfb !important;
    background: #fafafa !important;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex-item {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 8px;
}

/*
Legacy Firefox implementation treats all flex containers
as inline-block elements.
*/

@-moz-document url-prefix() {
    .flex-container {
        width: 100%;
        -moz-box-sizing: border-box;
    }

}


